<div *ngIf="message['status']">
  <div class="alert alert-danger" *ngIf="message.error">
    {{message.message}}
  </div>
  <div class="alert alert-success" *ngIf="!message.error">
    {{message.message}}
  </div>
</div>

<!--================== PAGE-COVER =================-->
<section class="page-cover" id="cover-tour-grid-list">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="page-title">{{firstAid.title}}</h1>
        <ul class="breadcrumb">
          <li><a [routerLink]="['/home']">Home</a></li>
          <li><a>Category</a></li>
          <li class="active">{{firstAid.title}}</li>
        </ul>
      </div><!-- end columns -->
    </div><!-- end row -->
  </div><!-- end container -->
</section><!-- end page-cover -->


<!--===== INNERPAGE-WRAPPER ====-->
<section class="innerpage-wrapper">
  <div id="tour-grid" class="innerpage-section-padding">
    <div class="container">
      <div class="row">


        <h2 class="page-title">{{firstAid.title}}</h2>

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg- content-side">
          <div class="row">


            <div *ngFor="let data of firstAid['posts'],let i = index" class="col-xs-12 col-sm-6 col-md-7 col-lg-3">
              <div class="grid-block main-block f-grid-block">
                <a href="flight-detail-right-sidebar.html">
                  <div class="main-img f-img">
                    <img src="https://api.easymedsonline.com/uploads/images/{{data.images.images.original}}"
                      class="img-responsive" alt="flight-img" />
                  </div><!-- end f-img -->
                </a>
                <ul class="list-unstyled list-inline offer-price-1">
                  <li class="price">Rs {{data.rate}}<span class="divider">|</span><span class="pkg">2 Stay</span></li>
                </ul>

                <div class="block-info f-grid-info">
                  <div class="f-grid-desc">
                    <span class="f-grid-time"><i class="fa fa-clock-o"></i>6 hours - 30 minutes</span>
                    <h3 class="block-title"><a href="flight-detail-right-sidebar.html">{{data.title}}</a></h3>
                    {{text[i]}}<br>
                  </div><!-- end f-grid-desc -->

                  <div class="f-grid-timing">

                  </div><!-- end flight-timing -->

                  <div class="grid-btn">
                    <a href="javascript:void(0)" class="btn btn-orange btn-block btn-lg">&nbsp;
                      &nbsp;<button class="btn btn-primary  btn-xs" (click)="addToCart(data)">Add to
                        cart</button></a>
                  </div><!-- end grid-btn -->
                </div><!-- end f-grid-info -->
              </div><!-- end f-grid-block -->
            </div><!-- end columns -->
          </div><!-- end row -->


        </div>






      </div><!-- end row -->
    </div><!-- end container -->
  </div><!-- end tour-grid -->
</section>


<!-- <jqxNotification #msgNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false"
  [autoClose]="true" [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'success'">
  <div id='message'></div>
</jqxNotification>

<jqxNotification #errNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false"
  [autoClose]="true" [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'error'">
  <div id='error'></div>
</jqxNotification> -->
