.media-heading{
	padding : 5px;
	margin-top : 10px;
}
.media-heading>a{
	text-decoration : none;
	color : #000;
}
.table-hover{
	border-radius : 5px; 
	border : 1px solid #ececec;
}
.breadcrumb{
	border-radius : 0px;
}
.breadcrumb>p{
	font-size : 16px;
	margin-bottom : 0px;
}
