<div class="container">
  <div class="row">
    <div class="breadcrumb">
      <p><i class="fa fa-home"></i> Home / My Cart</p>
    </div>
    <div class="col-xs-12  col-sm-12 col-md-9">
      <table class="table" style="padding: 10px;">
        <thead>
          <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th class="text-center">Price</th>
            <th class="text-center">Total</th>
            <th class="text-center"><i class="fa fa-cog"></i> Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of cartItem,let i = index;">
            <td>
              <div class="media">
                <a class="thumbnail pull-left" href="#"> <img class="media-object"
                    src="http://icons.iconarchive.com/icons/custom-icon-design/flatastic-2/72/product-icon.png"
                    style="width: 72px; height: 72px;"> </a>
                <div class="media-body">
                  <h5 class="media-heading"><a href="#">{{data.title}}</a></h5>
                </div>
              </div>
            </td>
            <td style="text-align: center">
              <input type="text" [class]="'form-control q'+ i" (change)="qnty($event.target.value,data,i)"
                id="exampleInputEmail1" value="1">
            </td>
            <td class="text-center"><strong>{{data.rate}}</strong></td>
            <td class="text-center"><strong>Rs {{total[i]}}</strong></td>
            <td class="text-center">
              <button type="button" class="btn btn-xs btn-danger" title="Remove" (click)="remove(i)">
                <span class="glyphicon glyphicon-remove"></span>
              </button></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-3">
      <div class="breadcrumb">
        <h4>Payment Details</h4>
        <br>
        <h5>Total Amount</h5>
        <p>Rs {{mainTotal}}</p>
        <hr>
        <button type="button" data-toggle="modal" data-target="#exampleModal" class="btn btn-success"
          (click)="checkOut()">
          Checkout <span class="glyphicon glyphicon-play"></span>
        </button>
      </div>
      <table class="">
          <!-- <tr>
            <td>   </td>
            <td>   </td>
            <td>   </td>
            <td style="background-color: #ececec;">
              <h3>Total Amount</h3>
              <h3><strong>Rs {{mainTotal}}</strong></h3>
            </td>
            <td class="text-right">
            </td>
          </tr> -->
          <tr>
            <td>   </td>
            <td>   </td>
            <td>   </td>
            <td>
              <button type="button" class="btn btn-primary" (click) = "continueShop()">
                <span class="glyphicon glyphicon-shopping-cart"></span> Continue Shopping
              </button></td>
            <td>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>



    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            ...
          </div>
          <div class="modal-footer">
            <button type="button">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>
