<!--=============== TOUR OFFERS ===============-->
<section id="tour-offers" class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="page-heading">
          <h2>Tour Offers</h2>
          <hr class="heading-line" />
        </div><!-- end page-heading -->

        <div class="owl-carousel owl-theme owl-custom-arrow" id="owl-tour-offers">

          <div class="item">
            <div class="main-block tour-block">
              <div class="main-img">
                <a href="#">
                  <img src="../assets/images/tour-1.jpg" class="img-responsive" alt="tour-img" />
                </a>
              </div><!-- end offer-img -->

              <div class="offer-price-2">
                <ul class="list-unstyled">
                  <li class="price">$568.00<a href="#"><span class="arrow"><i class="fa fa-angle-right"></i></span></a>
                  </li>
                </ul>
              </div><!-- end offer-price-2 -->

              <div class="main-info tour-info">
                <div class="main-title tour-title">
                  <a href="#">China Temple Tour</a>
                  <p>From: China</p>
                  <div class="rating">
                    <span><i class="fa fa-star orange"></i></span>
                    <span><i class="fa fa-star orange"></i></span>
                    <span><i class="fa fa-star orange"></i></span>
                    <span><i class="fa fa-star orange"></i></span>
                    <span><i class="fa fa-star grey"></i></span>
                  </div>
                </div><!-- end tour-title -->
              </div><!-- end tour-info -->
            </div><!-- end tour-block -->
          </div><!-- end item -->

          <div class="item">
            <div class="main-block tour-block">
              <div class="main-img">
                <a href="#">
                  <img src="../assets/images/tour-2.jpg" class="img-responsive" alt="tour-img" />
                </a>
              </div><!-- end offer-img -->

              <div class="offer-price-2">
                <ul class="list-unstyled">
                  <li class="price">$745.00<a href="#"><span class="arrow"><i class="fa fa-angle-right"></i></span></a>
                  </li>
                </ul>
              </div><!-- end offer-price-2 -->

              <div class="main-info tour-info">
                <div class="main-title tour-title">
                  <a href="#">African Safari Tour</a>
                  <p>From: Africa</p>
                  <div class="rating">
                    <span><i class="fa fa-star orange"></i></span>
                    <span><i class="fa fa-star orange"></i></span>
                    <span><i class="fa fa-star orange"></i></span>
                    <span><i class="fa fa-star orange"></i></span>
                    <span><i class="fa fa-star grey"></i></span>
                  </div>
                </div><!-- end tour-title -->
              </div><!-- end tour-info -->
            </div><!-- end tour-block -->
          </div><!-- end item -->

          <div class="item">
            <div class="main-block tour-block">
              <div class="main-img">
                <a href="#">
                  <img src="../assets/images/tour-3.jpg" class="img-responsive" alt="tour-img" />
                </a>
              </div><!-- end offer-img -->

              <div class="offer-price-2">
                <ul class="list-unstyled">
                  <li class="price">$459.00<a href="#"><span class="arrow"><i class="fa fa-angle-right"></i></span></a>
                  </li>
                </ul>
              </div><!-- end offer-price-2 -->

              <div class="main-info tour-info">
                <div class="main-title tour-title">
                  <a href="#">Paris City Tour</a>
                  <p>From: Paris</p>
                  <div class="rating">
                    <span><i class="fa fa-star orange"></i></span>
                    <span><i class="fa fa-star orange"></i></span>
                    <span><i class="fa fa-star orange"></i></span>
                    <span><i class="fa fa-star orange"></i></span>
                    <span><i class="fa fa-star grey"></i></span>
                  </div>
                </div><!-- end tour-title -->
              </div><!-- end tour-info -->
            </div><!-- end tour-block -->
          </div><!-- end item -->

          <div class="item">
            <div class="main-block tour-block">
              <div class="main-img">
                <a href="#">
                  <img src="../assets/images/tour-4.jpg" class="img-responsive" alt="tour-img" />
                </a>
              </div><!-- end offer-img -->

              <div class="offer-price-2">
                <ul class="list-unstyled">
                  <li class="price">$745.00<a href="#"><span class="arrow"><i class="fa fa-angle-right"></i></span></a>
                  </li>
                </ul>
              </div><!-- end offer-price-2 -->

              <div class="main-info tour-info">
                <div class="main-title tour-title">
                  <a href="#">China Temple Tour</a>
                  <p>From: China</p>
                  <div class="rating">
                    <span><i class="fa fa-star orange"></i></span>
                    <span><i class="fa fa-star orange"></i></span>
                    <span><i class="fa fa-star orange"></i></span>
                    <span><i class="fa fa-star orange"></i></span>
                    <span><i class="fa fa-star grey"></i></span>
                  </div>
                </div><!-- end tour-title -->
              </div><!-- end tour-info -->
            </div><!-- end tour-block -->
          </div><!-- end item -->

        </div><!-- end owl-tour-offers -->

        <div class="view-all text-center">
          <a href="#" class="btn btn-orange">View All</a>
        </div><!-- end view-all -->
      </div><!-- end columns -->
    </div><!-- end row -->
  </div><!-- end container -->
</section><!-- end tour-offers -->