<!--=============== CRUISE OFFERS ===============-->




<section id="cruise-offers" class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="page-heading">
          <h2>Hot Product</h2>
          <hr class="heading-line" />
        </div><!-- end page-heading -->

        <div class="row">
          <div *ngFor="let data of hotProduct" class="col-sm-6 col-md-6">
            <div class="main-block cruise-block">
              <div class="row">
                <div class="col-sm-12 col-md-6 col-md-push-6 no-pd-l">
                  <div class="main-img cruise-img">
                    <a [routerLink]="['/view-details']" [state]="{state:{data:data}}">
                      <img src="https://api.easymedsonline.com/uploads/images/{{data.images.images.original}}"
                        class="img-responsive" alt="cruise-img" />
                      <div class="cruise-mask">
                        <p>Rs &nbsp;&nbsp;{{data.rate}}</p>
                        <div>
                          <a [routerLink]="['/view-details']" [state]="{state:{data:data}}" class="btn btn-orange">View
                            more</a>
                        </div>
                      </div><!-- end cruise-mask -->
                    </a>
                  </div><!-- end cruise-img -->
                </div><!-- end columns -->

                <div class="col-sm-12 col-md-6 col-md-pull-6 no-pd-r">
                  <div class=" main-info cruise-info">
                    <div class="main-title cruise-title">
                      <a [routerLink]="['/view-details']" [state]="{state:{data:data}}"> </a>
                      <p> </p>
                      <div class="rating">
                        <span><i class="fa fa-star orange"></i></span>
                        <span><i class="fa fa-star orange"></i></span>
                        <span><i class="fa fa-star orange"></i></span>
                        <span><i class="fa fa-star orange"></i></span>
                        <span><i class="fa fa-star grey"></i></span>
                      </div><!-- end rating -->

                      <span class="cruise-price">{{data.title}}</span>
                    </div><!-- end cruise-title -->
                  </div><!-- end cruise-info -->
                </div><!-- end columns -->

              </div><!-- end row -->
            </div><!-- end cruise-block -->
          </div><!-- end columns -->




        </div><!-- end row -->

        <div class="view-all text-center">
          <a [routerLink]="['/hot-product']" class="btn btn-orange">View All</a>
        </div><!-- end view-all -->
      </div><!-- end columns -->
    </div><!-- end row -->
  </div><!-- end container -->
</section><!-- end cruise-offers -->
