

#mySidenav {
  background: white;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.3);
  overflow-Y: auto;
  overflow-X: hidden;
  width: 250px;
  display: none;
  transition: .4s;
  transform: translateX(120%);
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 300;
  top: 0;
  right: 0;
  transition: 0.5s;
}

.sidebar .closebt {
    position: absolute;
    top: 1px;
    right: 18px;
    width: 100%;
    text-align: right;
}
.sidebar #closebtn {
  color: white;
  background: transparent;
}

.sidebar #closebtn {
  font-size: 30px;
  text-decoration: none;
  padding: 0px;
  line-height: 1.0em;
}

.drop{
    position: absolute;
    width:300px;
    background: whitesmoke;
    z-index: 2;
}
