<!--============= TOP-BAR ===========-->
<div id="top-bar" class="tb-text-white">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div id="info">
          <ul class="list-unstyled list-inline">
            <li>
              <span><i class="fa fa-map-marker"></i></span>Kamalpokhari,
              Kathmandu
            </li>
            <li>
              <span><i class="fa fa-phone"></i></span>+01-4212345
            </li>
          </ul>
        </div>
        <!-- end info -->
      </div>
      <!-- end columns -->

      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div id="links">
          <ul class="list-unstyled list-inline">
            <li class="nav-item dropdown" ngbDropdown *ngIf="userDetails.id">
              <a href="javascript:void(0)" class="nav-link" ngbDropdownToggle>
                <i class="fa fa-user"></i>
              </a>
              <div class="dropdown-menu-right" ngbDropdownMenu>
                <a routerLink="/user/profile" class="dropdown-item">
                  <i class="fa fa-fw fa-user"></i>&nbsp;
                  <span>Profile</span>
                </a>
                <a class="dropdown-item" (click)="onLoggedout()">
                  <i class="fa fa-fw fa-power-off"></i>Log Out'
                </a>
              </div>
            </li>
            <li>
              <a routerLink='/login' routerLinkActive="active"><span><i class="fa fa-lock"></i></span>Login</a>
            </li>
            <li>
              <a routerLink='/signup' routerLinkActive="active"><span><i class="fa fa-plus"></i></span>Sign Up</a>
            </li>
            <li>
              <a routerLink='/cart' routerLinkActive="active"><span style="border-right: 1px"><i style="font-size: 18px"
                    class="fa fa-cart-plus"></i><span class="badge badge-danger">{{b}} </span></span></a>
            </li>



          </ul>
        </div>
        <!-- end links -->
      </div>
      <!-- end columns -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</div>
<!-- end top-bar -->

<nav class="navbar navbar-default main-navbar navbar-custom navbar-white" id="mynavbar-1">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" (click)="showHam()">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="header-search hidden-lg">

        <a href="javascript:void(0)" class="search-button"><span><i class="fa fa-search"></i></span></a>
      </div>
      <a [routerLink]="['/home']" class="navbar-brand"><span>EasyMeds </span> Online</a>
    </div>
    <!-- end navbar-header -->

    <div class="collapse navbar-collapse" id="myNavbar1">
      <ul class="nav navbar-nav navbar-right navbar-search-link">
        <li><a [routerLink]="['home']" routerLinkActive="active-link">Home</a></li>
        <li (click)="show()" (mouseleave)="hide()"><a>Category<i class="fa fa-angle-down"></i></a><span></span>
          <div *ngIf="changeText && categories" (mouseleave)="hide()" class="drop">
            <ul *ngFor="let data of categories['data']">
              <li style="list-style: none"> <a [routerLink]="['categories/',data.id]"
                  class="btn btn-orange btn-block btn-lg">{{data['title']}}</a></li>

            </ul>
          </div>
        </li>

        <!-- <li><a [routerLink]="['/cars']" routerLinkActive="active-link">Cars</a></li> -->
        <!-- <li><a [routerLink]="['/tours']" routerLinkActive="active-link">Tours</a></li> -->
        <li><a [routerLink]="['/first-aids-kits']" routerLinkActive="active-link">First Aid Kits </a></li>
        <li><a [routerLink]="['/medicine']" routerLinkActive="active-link">Medicine</a></li>
        <!-- <li><a [routerLink]="['/user']" routerLinkActive="active-link">User</a></li> -->
        <li><a [routerLink]="['/prescription']" routerLinkActive="active-link">upload Prescription</a></li>



        <li><a href="javascript:void(0)" class="search-button"><span><i class="fa fa-search"></i></span></a></li>
      </ul>
    </div><!-- end navbar collapse -->
  </div><!-- end container -->
</nav><!-- end navbar -->

<div class="sidenav-content">
  <div id="mySidenav" class="sidebar" style="transform: translateX(0%);">
    <h2 id="web-name"><span><i class="fa fa-medicine"></i></span>easyMeds</h2>

    <div id="main-menu">
      <div class="closebt">
        <button class="btn btn-default" id="closebtn" (click)="hideHam()">&times;</button>
      </div><!-- end close-btn -->

      <div class="list-group panel">

        <a [routerLink]="['home']" class="list-group-item active" data-toggle="collapse"
          data-parent="#main-menu"><span><i class="fa fa-home link-icon"></i></span>Home<span></span></a>


        <a [routerLink]="['/medicine']" routerLinkActive="active-link" class="list-group-item" data-toggle="collapse"
          data-parent="#main-menu"><span><i class="fa fa-building link-icon"></i></span>medicine<span></span></a>


        <a [routerLink]="['/first-aids-kits']" routerLinkActive="active-link" class="list-group-item"
          data-toggle="collapse" data-parent="#main-menu"><span><i class="fa fa-building link-icon"></i></span>First Aid
          kits<span></span></a>


        <a [routerLink]="['/prescription']" routerLinkActive="active-link" class="list-group-item"
          data-toggle="collapse" data-parent="#main-menu"><span><i class="fa fa-globe link-icon"></i></span>
          UploadPrescription<span></span></a>
        <!--
        <a class="list-group-item" (mouseover)="show()" (mouseleave)="hide()">Category<i
            class="fa fa-angle-down"></i></a><span></span>
        <div *ngIf="changeText" (mouseleave)="hide()" class="drop">
          <ul *ngFor="let data of categories['data']">
            <li style="list-style: none"> <a [routerLink]="['categories/',data.id]"
                class="btn btn-orange btn-block btn-lg">{{data['title']}}</a></li>

          </ul>
        </div> -->

        <li class="list-group-item" (mouseover)="show()" (mouseleave)="hide()"><a>Category<i
              class="fa fa-angle-down"></i></a><span></span>
          <div *ngIf="changeText" (mouseleave)="hide()" class="drop">
            <ul *ngFor="let data of categories['data']">
              <li style="list-style: none"> <a [routerLink]="['categories/',data.id]"
                  class="btn btn-orange btn-block btn-lg">{{data['title']}}</a></li>

            </ul>
          </div>
        </li>
      </div><!-- end list-group -->
    </div><!-- end main-menu -->
  </div><!-- end mySidenav -->
</div><!-- end sidenav-content -->
