<!--================ PAGE-COVER =================-->
<section class="page-cover" id="cover-registration">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="page-title">Registration Page</h1>
        <ul class="breadcrumb">
          <li><a [routerLink]="['/home']">Home</a></li>
          <li class="active">Registration Page</li>
        </ul>
      </div><!-- end columns -->
    </div><!-- end row -->
  </div><!-- end container -->
</section><!-- end page-cover -->


<!--===== INNERPAGE-WRAPPER ====-->
<section class="innerpage-wrapper">
  <div id="registration" class="innerpage-section-padding">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">

          <div class="flex-content">
            <div class="custom-form custom-form-fields">
              <h3>Registration</h3>
              <div *ngIf="message.status">
                <div class="alert alert-danger" *ngIf="message.error">
                  {{message.message}}
                </div>
                <div class="alert alert-success" *ngIf="!message.error">
                  {{message.message}}
                </div>
              </div>
              <ngx-spinner bdOpacity=0.9 bdColor="rgba(51,51,51,0.56)" size="large" color="#fff" type="ball-fussion"
                [fullScreen]="true">
                <p style="color: white"> Signing up... </p>
              </ngx-spinner>
              <form role="form" #f="ngForm">
                <div class="form-group">
                  <input type="text" name="name" ngModel #name="ngModel" minlength="2" maxlength="30" required
                    class="form-control input-underline input-lg" placeholder="Full Name">
                  <span><i class="fa fa-user"></i></span>
                </div>
                <div *ngIf="!name.valid && name.touched">
                  <div class="alert alert-danger">
                    <div *ngIf="name.errors.required">
                      Please Enter Your Name
                    </div>
                    <div *ngIf="name.errors.pattern">
                      Invalid Name
                    </div>
                    <div *ngIf="name.errors.minlength">
                      Please Enter More Characters
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <input type="text" name="address" ngModel #address="ngModel" minlength="0" maxlength="30"
                    class="form-control input-underline input-lg" placeholder="Address">
                  <span><i class="fa fa-user"></i></span>
                </div>


                <div class="form-group">
                  <input type="number" name="phoneNo" ngModel #phoneNo="ngModel" minlength="2" maxlength="30" required
                    class="form-control input-underline input-lg" placeholder="Contact No">
                  <span><i class="fa fa-user"></i></span>
                </div>


                <div class="form-group">
                  <input type="email" name="email" ngModel #email="ngModel" minlength="3" maxlength="30" required
                    class="form-control input-underline input-lg" placeholder="Email">
                  <span><i class="fa fa-envelope"></i></span>
                </div>
                <div *ngIf="!email.valid && email.touched">
                  <div class="alert alert-danger">
                    <div *ngIf="email.errors.required">
                      Please Enter Your email
                    </div>
                    <div *ngIf="email.errors.pattern">
                      Invalid Email
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <input type="text" name="username" ngModel #username="ngModel" minlength="0" maxlength="30"
                    class="form-control input-underline input-lg" placeholder="UserName">
                  <span><i class="fa fa-user"></i></span>
                </div>

                <div class="form-group">
                  <input type="password" name="password" ngModel #password="ngModel" minlength="3" maxlength="30"
                    required class="form-control input-underline input-lg" placeholder="Password">
                  <span><i class="fa fa-lock"></i></span>
                </div>

                <div *ngIf="!password.valid && password.touched">
                  <div class="alert alert-danger">
                    <div *ngIf="password.errors.required">
                      Please Enter Your password
                    </div>
                    <div *ngIf="password.errors.minlength">
                      Please Enter More Characters
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <input type="password" name="Password_confirmation" ngModel #password_confirmation="ngModel"
                    minlength="3" maxlength="30" required class="form-control input-underline input-lg"
                    placeholder="Re-Password">
                  <span><i class="fa fa-lock"></i></span>
                </div>

                <!-- <div *ngIf="!password === Password_confirmation ">
                  <div class="alert alert-danger">
                    <div>
                      Please Enter matching password
                    </div>

                  </div>
                </div> -->

                <button class="btn btn-orange btn-block" type="submit" [disabled]="!f.valid"
                  (click)="onSignup(f)">Register</button>
              </form>

              <div class="other-links">
                <p class="link-line">Already Have An Account ? <a [routerLink]="['/login']">Login Here</a></p>
              </div><!-- end other-links -->
            </div><!-- end custom-form -->

            <div class="flex-content-img custom-form-img">
              <img src="../assets/images/login6.png" class="img-responsive" alt="registration-img" />
            </div><!-- end custom-form-img -->
          </div><!-- end form-content -->

        </div><!-- end columns -->
      </div><!-- end row -->
    </div><!-- end container -->
  </div><!-- end registration -->
</section><!-- end innerpage-wrapper -->


<!--======================= BEST FEATURES =====================-->
<section id="best-features" class="banner-padding black-features">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-3">
        <div class="b-feature-block">
          <span><i class="fa fa-dollar"></i></span>
          <h3>Best Price Guarantee</h3>
          <p>Lorem ipsum dolor sit amet, ad duo fugit aeque fabulas, in lucilius prodesset pri. Veniam delectus ei vis.
          </p>
        </div><!-- end b-feature-block -->
      </div><!-- end columns -->

      <div class="col-sm-6 col-md-3">
        <div class="b-feature-block">
          <span><i class="fa fa-lock"></i></span>
          <h3>Safe and Secure</h3>
          <p>Lorem ipsum dolor sit amet, ad duo fugit aeque fabulas, in lucilius prodesset pri. Veniam delectus ei vis.
          </p>
        </div><!-- end b-feature-block -->
      </div><!-- end columns -->

      <div class="col-sm-6 col-md-3">
        <div class="b-feature-block">
          <span><i class="fa fa-thumbs-up"></i></span>
          <h3>Best Travel Agents</h3>
          <p>Lorem ipsum dolor sit amet, ad duo fugit aeque fabulas, in lucilius prodesset pri. Veniam delectus ei vis.
          </p>
        </div><!-- end b-feature-block -->
      </div><!-- end columns -->

      <div class="col-sm-6 col-md-3">
        <div class="b-feature-block">
          <span><i class="fa fa-bars"></i></span>
          <h3>Travel Guidelines</h3>
          <p>Lorem ipsum dolor sit amet, ad duo fugit aeque fabulas, in lucilius prodesset pri. Veniam delectus ei vis.
          </p>
        </div><!-- end b-feature-block -->
      </div><!-- end columns -->
    </div><!-- end row -->
  </div><!-- end container -->
</section>
