<!--================= PAGE-COVER ================-->
<section class="page-cover" id="cover-blog-details">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="page-title">Blog Details</h1>
        <ul class="breadcrumb">
          <li><a [routerLink]="['/home']">Home</a></li>
          <li class="active">Blog Details</li>
        </ul>
      </div><!-- end columns -->
    </div><!-- end row -->
  </div><!-- end container -->
</section><!-- end page-cover -->


<!--==== INNERPAGE-WRAPPER =====-->
<section class="innerpage-wrapper">
  <div id="blog-details" class="innerpage-section-padding">
    <div class="container">
      <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 side-bar blog-sidebar left-side-bar">
          <div class="row">

            <div class="col-xs-12 col-sm-6 col-md-12">
              <div class="side-bar-block main-block ad-block">
                <div class="main-img ad-img">
                  <a href="#">
                    <img src="../assets/images/car-ad.jpg" class="img-responsive" alt="car-ad" />
                    <div class="ad-mask">
                      <div class="ad-text">
                        <span>Luxury</span>
                        <h2>Car</h2>
                        <span>Offer</span>
                      </div><!-- end ad-text -->
                    </div><!-- end columns -->
                  </a>
                </div><!-- end ad-img -->
              </div><!-- end side-bar-block -->
            </div><!-- end columns -->

            <!-- <div class="col-xs-12 col-sm-6 col-md-12"> --
              <div class="side-bar-block instagram">
                <h2 class="side-bar-heading">Instagram</h2>
                <ul class="list-unstyled list-inline">
                  <li><a href="#"><img src="../assets/images/sidebar-insta-1.jpg" class="img-responsive" alt="insta-img" /></a>
                  </li>
                  <li><a href="#"><img src="../assets/images/sidebar-insta-2.jpg" class="img-responsive" alt="insta-img" /></a>
                  </li>
                  <li><a href="#"><img src="../assets/images/sidebar-insta-3.jpg" class="img-responsive" alt="insta-img" /></a>
                  </li>
                  <li><a href="#"><img src="../assets/images/sidebar-insta-4.jpg" class="img-responsive" alt="insta-img" /></a>
                  </li>
                  <li><a href="#"><img src="../assets/images/sidebar-insta-5.jpg" class="img-responsive" alt="insta-img" /></a>
                  </li>
                  <li><a href="#"><img src="../assets/images/sidebar-insta-6.jpg" class="img-responsive" alt="insta-img" /></a>
                  </li>
                  <li><a href="#"><img src="../assets/images/sidebar-insta-7.jpg" class="img-responsive" alt="insta-img" /></a>
                  </li>
                  <li><a href="#"><img src="../assets/images/sidebar-insta-8.jpg" class="img-responsive" alt="insta-img" /></a>
                  </li>
                  <li><a href="#"><img src="../assets/images/sidebar-insta-9.jpg" class="img-responsive" alt="insta-img" /></a>
                  </li>
                </ul>
              </div><!-- end side-bar-block --
            </div><!-- end columns -->
          </div><!-- end row -->

          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-12">
              <div class="side-bar-block contact">
                <h2 class="side-bar-heading">Contact Us</h2>
                <div class="c-list">
                  <div class="icon"><span><i class="fa fa-envelope"></i></span></div>
                  <div class="text">
                    <p>support@destinationnepal.com</p>
                  </div>
                </div><!-- end c-list -->

                <div class="c-list">
                  <div class="icon"><span><i class="fa fa-phone"></i></span></div>
                  <div class="text">
                    <p>+01-4212345</p>
                  </div>
                </div><!-- end c-list -->

                <div class="c-list">
                  <div class="icon"><span><i class="fa fa-map-marker"></i></span></div>
                  <div class="text">
                    <p>Kamalpokhari,Kathmandu</p>
                  </div>
                </div><!-- end c-list -->
              </div>
            </div><!-- end columns -->

            <div class="col-xs-12 col-sm-6 col-md-12">
              <div class="side-bar-block recent-post">
                <h2 class="side-bar-heading">Recent Post</h2>

                <div class="recent-block">
                  <div class="recent-img">
                    <a [routerLink]="['detail']"><img src="../assets/images/1.jpg" class="img-reponsive"
                        alt="recent-blog-image" /></a>
                  </div><!-- end recent-img -->

                  <div class="recent-text">
                    <a [routerLink]="['detail']">
                      <h5>What to expect, while you are in Nepal?</h5>
                    </a>
                    <span class="date">March 1, 2019</span>
                  </div><!-- end recent-text -->
                </div><!-- end recent-block -->

                <div class="recent-block">
                  <div class="recent-img">
                    <a [routerLink]="['detail']"><img src="../assets/images/2.jpg" class="img-reponsive"
                        alt="recent-blog-image" /></a>
                  </div><!-- end recent-img -->

                  <div class="recent-text">
                    <a [routerLink]="['detail']">
                      <h5>Year Round Tours in Nepal</h5>
                    </a>
                    <span class="date">February 12, 2019</span>
                  </div><!-- end recent-text -->
                </div><!-- end recent-block -->

                <div class="recent-block">
                  <div class="recent-img">
                    <a [routerLink]="['detail']"><img src="../assets/images/3.jpg" class="img-reponsive"
                        alt="recent-blog-image" /></a>
                  </div><!-- end recent-img -->

                  <div class="recent-text">
                    <a [routerLink]="['detail']">
                      <h5>The Best Off- Season Treks in Nepal</h5>
                    </a>
                    <span class="date">January 6, 2019</span>
                  </div><!-- end recent-text -->
                </div><!-- end recent-block -->

              </div><!-- end side-bar-block -->
            </div><!-- end columns -->
          </div><!-- end row -->

          <div class="row">

            <div class="col-xs-12 col-sm-6 col-md-12">
              <div class="side-bar-block follow-us">
                <h2 class="side-bar-heading">Follow Us</h2>
                <ul class="list-unstyled list-inline">
                  <li><a href="#"><span><i class="fa fa-facebook"></i></span></a></li>
                  <li><a href="#"><span><i class="fa fa-twitter"></i></span></a></li>
                  <li><a href="#"><span><i class="fa fa-linkedin"></i></span></a></li>
                  <li><a href="#"><span><i class="fa fa-google-plus"></i></span></a></li>
                  <li><a href="#"><span><i class="fa fa-pinterest-p"></i></span></a></li>
                </ul>
              </div><!-- end side-bar-block -->
            </div><!-- end columns -->

            <div class="col-xs-12 col-sm-6 col-md-12">
              <div class="side-bar-block tags">
                <h2 class="side-bar-heading">Tags</h2>
                <ul class="list-unstyled list-inline">
                  <li><a href="#" class="btn btn-g-border">SPA</a></li>
                  <li><a href="#" class="btn btn-g-border">Restaurant</a></li>
                  <li><a href="#" class="btn btn-g-border">Searvices</a></li>
                  <li><a href="#" class="btn btn-g-border">Wifi</a></li>
                  <li><a href="#" class="btn btn-g-border">Tv</a></li>
                  <li><a href="#" class="btn btn-g-border">Rooms</a></li>
                  <li><a href="#" class="btn btn-g-border">Pools</a></li>
                  <li><a href="#" class="btn btn-g-border">Work</a></li>
                  <li><a href="#" class="btn btn-g-border">Sports</a></li>
                </ul>
              </div><!-- end side-bar-block -->
            </div><!-- end columns -->

          </div><!-- end row -->
        </div><!-- end columns -->

        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 content-side">
          <div class="space-right">

            <div class="blog-post">
              <div class="main-img blog-post-img">
                <img src="../assets/images/3.jpg" class="img-responsive" alt="blog-post-image" />
                <div class="main-mask blog-post-info">
                  <ul class="list-inline list-unstyled blog-post-info">
                    <li><span><i class="fa fa-calendar"></i></span>July 30, 2019</li>
                    <li><span><i class="fa fa-user"></i></span>By: <a href="#">Amigo Treks & Expedition</a></li>
                  </ul>
                </div>
              </div><!-- end blog-post-img -->

              <div class="blog-post-detail">
                <h2 class="blog-post-title">A Complete Annapurna Base Camp Trek Guide</h2>
                <p>In the north-central part of Nepal lies a 55 kilometers long, compact group of mountains, which is
                  commonly known to the world as the Annapurna massif. This massif is protected by the largest
                  conservation area of the country, the Annapurna Conservation Area (7,629km<sup>2</sup>). Trekking to
                  the base camp of Annapurna or the Annapurna Sanctuary Trek, allows trekkers to enjoy the most
                  spectacular section of this massif including the view of the 10<sup>th</sup> highest mountain in the
                  world, Annapurna I. Located&nbsp; north of the beautiful lake city, Pokhara, east of Poon Hill and
                  Ghorepani&nbsp; and west of Mardi Himal; the Annapurna Base Camp is one of the most popular trekking
                  destination in Nepal. Every year two third of all trekkers in Nepal visit the Annapurna region.</p>
                <p><strong>Some facts related to the Annapurna Base Camp Trek</strong></p>
                <ul>
                  <li>Annapurna Base Camp trekking is trekking to the base camp of the Annapurna South.</li>
                  <li>Annapurna Base Camp trekking presents trekkers a chance to view the 10<sup>th</sup> highest
                    mountain in the world, the Annapurna I.</li>
                  <li>The Annapurna Base Camp presents the 360<sup>0 </sup>panorama of stunning mountains in the
                    Annapurna region that include, Machhapuchhre (6993m), Annapurna III (7555M), Gangapurna (7454m),
                    Singu Chuli (6501m), Annpurna I (8091m), Annapurna South (7219m) and Hiunchuli (6441m).</li>
                  <li>During the Annapurna Base Camp Trek, trekkers can enjoy two base camps – a) Annapurna Base Camp
                    and b) Machhapuchhre Base Camp.</li>
                  <li>Trekkers can either directly go to the Annapurna Base Camp or take a detour to Ghorepani- Poon
                    Hill or Ghandrunk or both. Nevertheless, all these trails coincide at Chhomrong and further lead to
                    the base camp.</li>
                  <li>If trekkers choose to take a detour to Ghorepani-Poon Hill, then trekkers can enjoy the second
                    famous view point after Kala Patthar in the Khumbu region, the Poon Hill. The view of Machhapuchhre
                    (6993M), Hiunchuli (6441m), Annapurna South (7219m), Baraha Sikhar (FANG) (7647M), Nilgiri South
                    (6839M), Tukuche (6920m) and Dhaulagiri (8167m) are magnificent.</li>
                  <li>The entire area is inhabited by people, which offers a great opportunity for trekkers enjoy unique
                    teahouse trekking.</li>
                  <li>During the trekking season, the trail gets very crowded, therefore, this trail is not recommended
                    for trekkers seeking solitude.</li>
                </ul>
                <p><a href="https://www.amigotrekking.com/annapurna-base-camp-trek.html"><img
                      class="aligncenter wp-image-383 size-full"
                      src="https://i0.wp.com/www.amigotrekking.com/blog/wp-content/uploads/2016/11/annapurna-base-camp-trekking-new.jpg?resize=618%2C284&amp;ssl=1"
                      alt="annapurna-base-camp-trekking-new" width="618" height="284"
                      srcset="https://i0.wp.com/www.amigotrekking.com/blog/wp-content/uploads/2016/11/annapurna-base-camp-trekking-new.jpg?w=1000&amp;ssl=1 1000w, https://i0.wp.com/www.amigotrekking.com/blog/wp-content/uploads/2016/11/annapurna-base-camp-trekking-new.jpg?resize=300%2C138&amp;ssl=1 300w, https://i0.wp.com/www.amigotrekking.com/blog/wp-content/uploads/2016/11/annapurna-base-camp-trekking-new.jpg?resize=768%2C353&amp;ssl=1 768w"
                      sizes="(max-width: 618px) 100vw, 618px"></a></p>
                <p><strong>Highlights of the <a
                      href="https://www.amigotrekking.com/annapurna-base-camp-trek.html">Annapurna Base Camp
                      Trekking</a></strong></p>
                <ul>
                  <li>The very famous Lake City in Nepal, Pokhara, which serves as the starting point of the trek.</li>
                  <li>Incredibly diverse scenery, including both, high mountain and lowland villages.</li>
                  <li>Exposure to unique settlement, lifestyle, culture, tradition and hospitality of Gurung, Magar and
                    Thakali people.</li>
                  <li>Availability of guest houses, tea houses and Homstays from start to finish as the entire area is
                    inhabited by people.</li>
                  <li>Beautiful sunrise and sunset view and Annapurna range, Dhaulagiri and Machhapuchhre from Poon
                    Hill, the second famous view point in Nepal after Kala Patthar in the Khumbu region.</li>
                  <li>Subtropical and alpine climate, vegetation, animals and birds.</li>
                  <li>Famous Gurung, Magar and Thakali villages like, Ulleri, Ghorepani and Ghandruk.</li>
                  <li>Homestay and Gurung museum in Ghandruk.</li>
                  <li>Hot Spring in Jhinu Danda, a perfect tub to relax your tired muscles after the trek.</li>
                  <li>Perfect blend of scenery and amazing landscape.</li>
                </ul>
                <p>The world is a book, and those who do not travel read only the page. – Saint Augustine.</p>
                <p><strong>Permits and Costs required for Annapurna Base Camp Trek</strong></p>
                <p>Since the Annapurna Base Camp is located inside the Annapurna Conservation Area, both solo and group
                  trekkers are required to obtain an individual <strong>ACAP entry permit</strong>. Trekkers can apply
                  for the permit with two passport size photographs. The permit fee for SAARC Nationals is NPR 200/-
                  (Two Hundred only), while for nationals other than SAARC countries is NPR 2,000/- (Two Thousand only).
                  However, children under the age of 10 do not require any entry fee. This permit is valid for single
                  entry only and must be carried during the entire trip and shown to the concerned person at check
                  posts, upon request. This permit is non-transferable and non refundable. Also, this permit only allows
                  trekkers to enter the designated places within the conservation area.</p>
                <p>Next, trekkers are also required to obtain Trekkers’ Information Management System (TIMS) card in
                  order to trek to the Annapurna Base Camp. TIMS card should be obtained by both Free Individual
                  Trekkers (FITs) and those with government authorized agencies. Trekkers need a copy of passport and
                  two passport sized photos and Nepali currency equivalent to $20/person (Green TIMS card) for free
                  individual travelers and $10/person (Blue TIMS card) for travelers travelling in a group, in order to
                  apply for the TIMS card. TIMS card can be obtained at the offices of Nepal Tourism Board in Kathmandu
                  and Pokhara and TAAN Secretariat&nbsp; at Maligaon and TAAN Pokhara Secretariat in Pokhara .</p>
                <p><em>The cost of the standard Annapurna Base Camp Trekking packages by Amigo Treks and
                    Expedition&nbsp; also includes the cost of all permits required during the Annapurna Base Camp
                    Treks.&nbsp; </em></p>
                <p><strong>Routes that lead to the Annapurna Base Camp</strong></p>
                <p>Starting Pokhara, the standard route, that is, via Ghorepani Poon-Hill requires 11 days to reach the
                  Annapurna Basecamp and come back to Pokhara. The trail starting Nayapul passes all the way through
                  Birethanti, Ramghai, Sudame, Hille, Tikhedhunga, Ulleri, Banthanti, Ghorepani, Tadapani, Sinuwa,
                  Deurali, Annapurna Base Camp. While returning from the Annapurna Base Camp, trekkers will follow the
                  same route down till Chhomrong and then continue to Bamboo, Jinu Danda, and Pothana, where the ABC
                  trek normally ends. Nevertheless, there is a good news for travelers, who cannot spend 11 days to get
                  to the ABC. Most of the companies offer<a
                    href="https://www.amigotrekking.com/short-annapurna-base-camp-trek.html"> <u>Short Annapurna Base
                      Camp Trek</u></a> packages, which allows trekkers to complete the ABC trek in just 8 days.
                  However, trekkers always have the option of a detour, if they have time and are looking to explore
                  more.</p>
                <p><strong>Food and Water during the Annapurna Base Camp Trek</strong></p>
                <p>Proper food and water intake is a very essential part of any trekking. Since, the Annapurna Base Camp
                  route is entirely inhabited by people, eatery options are more along the trail, compared to the other
                  trekking routes in Nepal. Therefore, the meals served during the trek will be as per the tea house
                  menu. The standard packages offered by agencies usually include three major meals (breakfast, lunch,
                  dinner) and tea and coffee.</p>
                <p><strong>Breakfast: </strong>Oatmeal boiled in water, French toast served with jam, honey or butter,
                  eggs cooked in your preferred style, pancakes, Muesli, or Chhapati are available options for
                  breakfast.</p>
                <p><strong>Lunch: </strong>Usually, traditional Nepali food (Lentil soup, rice, curry, pickle and meat
                  cooked in Nepali style) is provided for lunch. Food served are organic, fresh and made using local
                  ingredients and is very tasty. However, if you are looking for some western food, you can always
                  choose the one provided in the tea house menu.</p>
                <p><strong>Dinner: </strong>Both traditional and Western food&nbsp; is available for dinner. You can
                  order as per the tea house menu.</p>
                <p><strong>Water: </strong>You can buy bottled water from the starting point of the trek till the end.
                  But the prices increase, with the increment in altitude. Therefore, using water filters is wiser
                  than&nbsp; buying bottled as it reduces your budget&nbsp; as well as the waste on the trek.</p>
                <p>It is always recommended to pack protein bars, cheese, nuts, chocolates or candy bars, which provide
                  additional energy while walking.</p>
                <p><strong>Accommodation during the Annapurna Base Camp Trek</strong></p>
                <p>Guest houses, basic lodges and tea houses are the available accommodation options during the
                  Annapurna Base Camp Trek. The rooms are very basic with one or two beds and very little or no
                  additional furniture at all. Some accommodations provide attached bathroom; however, most offer shared
                  bath and rest rooms. Some provide hot shower facility, however, in the absence of hot shower facility,
                  trekkers can always ask for a bucket of hot water (extra charge applicable). The rooms, although very
                  basic, are very comfortable. AC or heater facilities are not available, therefore, it is recommended
                  to bring your own sleeping bag. Moreover, if you are looking to enjoy the local lifestyle and
                  settlement of people, then ask your company to book some of your accommodations in Homestays.This
                  allows you to enjoy local food, culture, tradition, and lifestyle of local people by spending time
                  with them.</p>
                <p><strong>Transportation during the Annapurna Base Camp Trek</strong></p>
                <p>Nayapul is the starting point of the most of the Annapurna Base Camp Trek. Local transportation (bus)
                  is available from Pokhara to get to Nayapul. It takes about 2 hours to reach Nayapul from Pokhara.
                  However, if you are starting your trip from Kathmandu, you can either drive, or fly to Pokhara. If you
                  take a tourist bus from Kathmandu, it takes about 7 hours to reach Pokhara. However, if you wish to
                  take a flight it will only take about 20-25 mins to reach Pokhara. You can also hire a private jeep or
                  a car to get to Nayapul from Pokhara, if you are willing to pay a little extra.</p>
                <p><strong>Annapurna Base Camp Difficulty&nbsp; Level </strong></p>
                <p>Annapurna Base Camp trek is one of the easiest base camp treks in Nepal. Chances of altitude sickness
                  are very low. All you need is a good health condition and stamina to walk for about 6-7 hours in a
                  day. No prior experience is required to plan this trekking, however, some prior hiking, trekking or
                  camping experience will surely make this trekking easier. Difficulty can only be expected in case of
                  bad weather, disturbance in the trail caused by any unforeseen natural disaster.</p>
                <p><strong>Recommendation for Solo trekkers or female solo trekkers</strong></p>
                <p>Solo trekking or female solo trekking is definitely possible in the Annapurna region of Nepal. During
                  the peak trekking seasons, the trekkers will get to enjoy the company of the other trekkers, while on
                  the trail. However, trekking in a group is highly recommended. Solo trekkers can always join the
                  existing groups. If you are a budget traveler and if you are concerned about your safety, then joining
                  groups is the best idea.</p>
                <p><strong>How do I get ready for the trek?</strong></p>
                <p>First and the foremost, get your body prepared for the trek. Be informed regarding your current
                  fitness level, get the required vaccination and medications, consult regarding the necessary guide
                  walks prior to trekking with your doctor or a local General Practitioner. Start exercising at least
                  4-6 weeks prior to the trek. Focus on cardio exercise like cycling, jogging, running, swimming or
                  uphill/stair climbing by carrying a backpack and muscle strengthening exercises like pushups,
                  pull-ups, weight lifting and squats.</p>
                <p>Next, get your luggage ready. Your checklist should include the following things:</p>
                <ul>
                  <li>Travel documents: passport, visa, travel insurance, air tickets, voucher, passport sized photos
                  </li>
                  <li>Binoculars, alarm clock and torch/flashlight/headlamps, ear plug and eye mask,</li>
                  <li>Reading and writing materials, travel games like , chess, backgammon, scrabble,</li>
                  <li>Hand sanitizer, lip balm, face and body moisturizer, light weight towel, toiletries like
                    toothbrush, toothpaste, multipurpose soap, deodorant, nail clippers, sanitary pads</li>
                  <li>Money-cash and money bag,</li>
                  <li>Sleeping bag</li>
                  <li>Day pack (with waist straps), refillable water bottle</li>
                  <li>Sun hat, sunglasses, scarf</li>
                  <li>Bag liner,</li>
                  <li>Sewing kit, swiss army knife, lighter, a small padlock</li>
                  <li>Wind and waterproof shell jacket and trousers</li>
                  <li>Comfortable walking shoes, running shoes and sandals</li>
                  <li>Socks: thick wool blend and thin cotton to be worn in combination</li>
                  <li>Lightweight thermal gloves</li>
                  <li>T-shirts</li>
                  <li>Underwear and shorts</li>
                  <li>Long sleeved shirt</li>
                  <li>Trekking/Hiking boots with spare laces</li>
                  <li>Lightweight long trousers</li>
                  <li>First Aid Kit</li>
                  <li>Regular medicines</li>
                </ul>
                <p>&nbsp;</p>
                <p>Nevertheless, &nbsp;if you are planning the Annapurna Base Camp trekking, during the winter season,
                  your pack list should be special. Do not forget to include the following things in the list.</p>
                <ul>
                  <li>Layered clothing/thermals</li>
                  <li>1 heavyweight or 2 light weight wool jumper/sweater/fleece jacket</li>
                  <li>Fleece wind-stopper jacket</li>
                  <li>Down jacket or down vest</li>
                  <li>Fleece or wool trousers</li>
                  <li>Heavyweight gloves or mittens</li>
                  <li>A four season sleeping bag</li>
                  <li>Thick, warm wool hiking socks</li>
                  <li>Gaiters (optional)</li>
                </ul>
                <p><strong>Best season to plan the Annapurna Base Camp Trek</strong></p>
                <p>Spring (March to May) and Autumn (September to Mid-December) are the best season to plan the
                  Annapurna Base Camp Trek. These seasons are very supportive in terms of trail, visibility, and&nbsp;
                  weather condition. Trail during monsoon season are very slippery , the views are obstructed by clouds
                  and rain and during the winter season its very cold due to snowfall.</p>
                <p><strong>What policies should my travel insurance cover?</strong></p>
                <p>Your travel insurance should cover all the extra expenditure that might come into account due to
                  various health issues, injuries or accidents; the cost of the ambulance, helicopter rescue, hospital
                  charges, cost of the medical treatment, medicine and doctor’s fee and the repatriation cost. Your
                  travel insurance should also include all the other extra activities (not mentioned in the package)
                  that you are looking to undertake while you are in Nepal and also the cost of theft and liability,
                  cancellation and misplaced luggage.</p>
                <p><strong>What happens if I get sick or injured during the Annapurna Base Camp trekking?</strong></p>
                <p>If you get sick during the trekking or in case you are injured, our team leader will provide the
                  First Aid service and take you to the nearest health post for further services. However, in the case,
                  where the situation is not under the control of team leader, emergency rescue (helicopter rescue) will
                  be arranged.</p>
                <p>If you are looking for a hassle-free trekking experience, it is always good to take help from
                  government authorized trekking agencies in Nepal. These trekking agencies are in good contact with
                  service providers in various trekking regions of the country, which makes it easier for them to book
                  services for you. Some of these trekking agencies will also provide the option of customizing the
                  package if their standard package does not meet your requirements. These trekking agencies will
                  understand your requirements and budget and customize the package accordingly. Make sure to choose the
                  one that best company. Plan your <a
                    href="https://www.amigotrekking.com/annapurna-base-camp-trek.html"><u>Annapurna Base Camp
                      Trek</u></a> with <a href="https://www.amigotrekking.com"><u>Amigo Treks and Expedition</u></a>
                  for better experience.</p>
                <p>&nbsp;</p>
              </div><!-- end blog-post-detail -->
            </div><!-- end blog-post -->

            <!-- <div id="comments">

              <div class="comment-block">
                <div class="user-img">
                  <img src="../assets/images/commenter-1.jpg" class="img-responsive" alt="user-img" />
                </div><!-- end user-img --

                <div class="user-text">
                  <ul class="list-inline list-unstyled">
                    <li class="user-name">Jhon Smith</li>
                    <li class="date">27 May, 2017</li>
                  </ul>
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt
                    ut laoreet dolore magna aliquam erat volutpat. Lorem ipsum dolor sit amet, consectetuer adipiscing
                    elit, sed diam nonummy nibh euismod.</p>
                  <a href="#"><span><i class="fa fa-reply"></i></span> Reply</a>
                </div><!-- end user-text --

                <div class="comment-block reply-block">
                  <div class="user-img">
                    <img src="../assets/images/commenter-2.jpg" class="img-responsive" alt="user-img" />
                  </div><!-- end user-img --

                  <div class="user-text">
                    <ul class="list-inline list-unstyled">
                      <li class="user-name">Jhon Smith</li>
                      <li class="date">27 May, 2017</li>
                    </ul>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt
                      ut laoreet dolore magna aliquam erat volutpat. Lorem ipsum dolor sit amet, consectetuer adipiscing
                      elit, sed diam nonummy nibh euismod.</p>
                    <a href="#"><span><i class="fa fa-reply"></i></span> Reply</a>
                  </div><!-- end user-text --
                </div><!-- end reply-block --
              </div><!-- end comment-block --

              <div class="comment-block">
                <div class="user-img">
                  <img src="../assets/images/commenter-3.jpg" class="img-responsive" alt="user-img" />
                </div><!-- end user-img --

                <div class="user-text">
                  <ul class="list-inline list-unstyled">
                    <li class="user-name">Jhon Smith</li>
                    <li class="date">27 May, 2017</li>
                  </ul>
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt
                    ut laoreet dolore magna aliquam erat volutpat. Lorem ipsum dolor sit amet, consectetuer adipiscing
                    elit, sed diam nonummy nibh euismod.</p>
                  <a href="#"><span><i class="fa fa-reply"></i></span> Reply</a>
                </div><!-- end user-text --
              </div><!-- end comment-block --

              <div class="comment-block">
                <div class="user-img">
                  <img src="../assets/images/commenter-4.jpg" class="img-responsive" alt="user-img" />
                </div><!-- end user-img --

                <div class="user-text">
                  <ul class="list-inline list-unstyled">
                    <li class="user-name">Jhon Smith</li>
                    <li class="date">27 May, 2017</li>
                  </ul>
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt
                    ut laoreet dolore magna aliquam erat volutpat. Lorem ipsum dolor sit amet, consectetuer adipiscing
                    elit, sed diam nonummy nibh euismod.</p>
                  <a href="#"><span><i class="fa fa-reply"></i></span> Reply</a>
                </div><!-- end user-text --
              </div><!-- end comment-block --

            </div>end comments -->

            <div id="comment-form">
              <div class="innerpage-heading">
                <h1>Add Comment</h1>
              </div><!-- end innerpage-heading -->

              <form>
                <div class="row">
                  <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="form-group">
                      <input type="text" class="form-control input input-lg" placeholder="Your Name" required />
                    </div>
                  </div><!-- end columns -->

                  <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="form-group">
                      <input type="email" class="form-control input input-lg" placeholder="Your Email" required />
                    </div>
                  </div><!-- end columns -->
                </div><!-- end row -->

                <div class="form-group">
                  <textarea class="form-control input-lg" rows="5" placeholder="Your Message"></textarea>
                </div>

                <button class="btn btn-orange">Submit</button>
              </form>
            </div><!-- end comment-form -->

          </div><!-- end space-right -->
        </div><!-- end columns -->

      </div><!-- end row -->
    </div><!-- end container -->
  </div><!-- end blog-details -->
</section><!-- end innerpage-wrapper -->


<!--======================= BEST FEATURES =====================-->
<section id="best-features" class="banner-padding black-features">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-3">
        <div class="b-feature-block">
          <span><i class="fa fa-dollar"></i></span>
          <h3>Best Price Guarantee</h3>
          <p>Lorem ipsum dolor sit amet, ad duo fugit aeque fabulas, in lucilius prodesset pri. Veniam delectus ei vis.
          </p>
        </div><!-- end b-feature-block -->
      </div><!-- end columns -->

      <div class="col-sm-6 col-md-3">
        <div class="b-feature-block">
          <span><i class="fa fa-lock"></i></span>
          <h3>Safe and Secure</h3>
          <p>Lorem ipsum dolor sit amet, ad duo fugit aeque fabulas, in lucilius prodesset pri. Veniam delectus ei vis.
          </p>
        </div><!-- end b-feature-block -->
      </div><!-- end columns -->

      <div class="col-sm-6 col-md-3">
        <div class="b-feature-block">
          <span><i class="fa fa-thumbs-up"></i></span>
          <h3>Best Travel Agents</h3>
          <p>Lorem ipsum dolor sit amet, ad duo fugit aeque fabulas, in lucilius prodesset pri. Veniam delectus ei vis.
          </p>
        </div><!-- end b-feature-block -->
      </div><!-- end columns -->

      <div class="col-sm-6 col-md-3">
        <div class="b-feature-block">
          <span><i class="fa fa-bars"></i></span>
          <h3>Travel Guidelines</h3>
          <p>Lorem ipsum dolor sit amet, ad duo fugit aeque fabulas, in lucilius prodesset pri. Veniam delectus ei vis.
          </p>
        </div><!-- end b-feature-block -->
      </div><!-- end columns -->
    </div><!-- end row -->
  </div><!-- end container -->
</section><!-- end best-features -->