<!--================= PAGE-COVER ================-->
<section class="page-cover" id="cover-blog-listing">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="page-title">Blogs</h1>
        <ul class="breadcrumb">
          <li><a [routerLink]="['/home']">Home</a></li>
          <li class="active">Blogs</li>
        </ul>
      </div><!-- end columns -->
    </div><!-- end row -->
  </div><!-- end container -->
</section><!-- end page-cover -->


<!--==== INNERPAGE-WRAPPER =====-->
<section class="innerpage-wrapper">
  <div id="blog-listings" class="innerpage-section-padding">
    <div class="container">
      <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 side-bar blog-sidebar left-side-bar">
          <div class="row">

            <div class="col-xs-12 col-sm-6 col-md-12">
              <div class="side-bar-block main-block ad-block">
                <div class="main-img ad-img">
                  <a href="#">
                    <img src="../assets/images/car-ad.jpg" class="img-responsive" alt="car-ad" />
                    <div class="ad-mask">
                      <div class="ad-text">
                        <span>Luxury</span>
                        <h2>Car</h2>
                        <span>Offer</span>
                      </div><!-- end ad-text -->
                    </div><!-- end columns -->
                  </a>
                </div><!-- end ad-img -->
              </div><!-- end side-bar-block -->
            </div><!-- end columns -->

            <!-- <div class="col-xs-12 col-sm-6 col-md-12">
              <div class="side-bar-block instagram">
                <h2 class="side-bar-heading">Instagram</h2>
                <ul class="list-unstyled list-inline">
                  <li><a href="#"><img src="../assets/images/sidebar-insta-1.jpg" class="img-responsive" alt="insta-img" /></a>
                  </li>
                  <li><a href="#"><img src="../assets/images/sidebar-insta-2.jpg" class="img-responsive" alt="insta-img" /></a>
                  </li>
                  <li><a href="#"><img src="../assets/images/sidebar-insta-3.jpg" class="img-responsive" alt="insta-img" /></a>
                  </li>
                  <li><a href="#"><img src="../assets/images/sidebar-insta-4.jpg" class="img-responsive" alt="insta-img" /></a>
                  </li>
                  <li><a href="#"><img src="../assets/images/sidebar-insta-5.jpg" class="img-responsive" alt="insta-img" /></a>
                  </li>
                  <li><a href="#"><img src="../assets/images/sidebar-insta-6.jpg" class="img-responsive" alt="insta-img" /></a>
                  </li>
                  <li><a href="#"><img src="../assets/images/sidebar-insta-7.jpg" class="img-responsive" alt="insta-img" /></a>
                  </li>
                  <li><a href="#"><img src="../assets/images/sidebar-insta-8.jpg" class="img-responsive" alt="insta-img" /></a>
                  </li>
                  <li><a href="#"><img src="../assets/images/sidebar-insta-9.jpg" class="img-responsive" alt="insta-img" /></a>
                  </li>
                </ul>
              </div>
            </div> -->
          </div>

          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-12">
              <div class="side-bar-block contact">
                <h2 class="side-bar-heading">Contact Us</h2>
                <div class="c-list">
                  <div class="icon"><span><i class="fa fa-envelope"></i></span></div>
                  <div class="text">
                    <p>support@destinationnepal.com</p>
                  </div>
                </div><!-- end c-list -->

                <div class="c-list">
                  <div class="icon"><span><i class="fa fa-phone"></i></span></div>
                  <div class="text">
                    <p>+01-4212345</p>
                  </div>
                </div><!-- end c-list -->

                <div class="c-list">
                  <div class="icon"><span><i class="fa fa-map-marker"></i></span></div>
                  <div class="text">
                    <p>Kamalpokhari,Kathmandu</p>
                  </div>
                </div><!-- end c-list -->
              </div><!-- end side-bar-block -->
            </div><!-- end columns -->

            <div class="col-xs-12 col-sm-6 col-md-12">
              <div class="side-bar-block recent-post">
                <h2 class="side-bar-heading">Recent Post</h2>

                <div class="recent-block">
                  <div class="recent-img">
                    <a [routerLink]="['detail']"><img src="../assets/images/1.jpg" class="img-reponsive"
                        alt="recent-blog-image" /></a>
                  </div><!-- end recent-img -->

                  <div class="recent-text">
                    <a [routerLink]="['detail']">
                      <h5>What to expect, while you are in Nepal?</h5>
                    </a>
                    <span class="date">March 1, 2019</span>
                  </div><!-- end recent-text -->
                </div><!-- end recent-block -->

                <div class="recent-block">
                  <div class="recent-img">
                    <a [routerLink]="['detail']"><img src="../assets/images/2.jpg" class="img-reponsive"
                        alt="recent-blog-image" /></a>
                  </div><!-- end recent-img -->

                  <div class="recent-text">
                    <a [routerLink]="['detail']">
                      <h5>Year Round Tours in Nepal</h5>
                    </a>
                    <span class="date">February 12, 2019</span>
                  </div><!-- end recent-text -->
                </div><!-- end recent-block -->

                <div class="recent-block">
                  <div class="recent-img">
                    <a [routerLink]="['detail']"><img src="../assets/images/3.jpg" class="img-reponsive"
                        alt="recent-blog-image" /></a>
                  </div><!-- end recent-img -->

                  <div class="recent-text">
                    <a [routerLink]="['detail']">
                      <h5>The Best Off- Season Treks in Nepal</h5>
                    </a>
                    <span class="date">January 6, 2019</span>
                  </div><!-- end recent-text -->
                </div><!-- end recent-block -->

              </div><!-- end side-bar-block -->
            </div><!-- end columns -->
          </div><!-- end row -->

          <div class="row">

            <div class="col-xs-12 col-sm-6 col-md-12">
              <div class="side-bar-block follow-us">
                <h2 class="side-bar-heading">Follow Us</h2>
                <ul class="list-unstyled list-inline">
                  <li><a href="#"><span><i class="fa fa-facebook"></i></span></a></li>
                  <li><a href="#"><span><i class="fa fa-twitter"></i></span></a></li>
                  <li><a href="#"><span><i class="fa fa-linkedin"></i></span></a></li>
                  <li><a href="#"><span><i class="fa fa-google-plus"></i></span></a></li>
                  <li><a href="#"><span><i class="fa fa-pinterest-p"></i></span></a></li>
                </ul>
              </div><!-- end side-bar-block -->
            </div><!-- end columns -->

            <div class="col-xs-12 col-sm-6 col-md-12">
              <div class="side-bar-block tags">
                <h2 class="side-bar-heading">Tags</h2>
                <ul class="list-unstyled list-inline">
                  <li><a href="#" class="btn btn-g-border">SPA</a></li>
                  <li><a href="#" class="btn btn-g-border">Restaurant</a></li>
                  <li><a href="#" class="btn btn-g-border">Searvices</a></li>
                  <li><a href="#" class="btn btn-g-border">Wifi</a></li>
                  <li><a href="#" class="btn btn-g-border">Tv</a></li>
                  <li><a href="#" class="btn btn-g-border">Rooms</a></li>
                  <li><a href="#" class="btn btn-g-border">Pools</a></li>
                  <li><a href="#" class="btn btn-g-border">Work</a></li>
                  <li><a href="#" class="btn btn-g-border">Sports</a></li>
                </ul>
              </div><!-- end side-bar-block -->
            </div><!-- end columns -->

          </div><!-- end row -->
        </div><!-- end columns -->

        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 content-side">
          <div class="space-right">

            <div class="main-block blog-post blog-list">
              <div class="main-img blog-post-img">
                <a [routerLink]="['detail']">
                  <img src="../assets/images/2.jpg" class="img-responsive" alt="blog-post-image" />
                </a>
                <div class="main-mask blog-post-info">
                  <ul class="list-inline list-unstyled blog-post-info">
                    <li><span><i class="fa fa-calendar"></i></span>March 1, 2019</li>
                    <li><span><i class="fa fa-user"></i></span>By: <a href="#">Amigo Treks & Expedition</a></li>
                  </ul>
                </div>
              </div><!-- end blog-post-img -->

              <div class="blog-post-detail">
                <h2 class="blog-post-title"><a [routerLink]="['detail']">What to expect, while you are in Nepal?</a>
                </h2>
                <p>The Good…

                  Friendly People with always a smile on their face:
                  ‘Trekking in Nepal is not wilderness walking. You’ll share the trail with Sherpa, Gurung, Rai and
                  Thakali and pass by monasteries, temples and sacred sites, all the time experiencing the friendliness,
                  outgoing nature and good humor that characterizes almost all Nepalese”, says Lonely Planet (Trekking
                  in the Nepal Himalaya). However, not only during the trek, but you will meet friendly people right
                  from the time you land at the Tribhuvan International Airport in Nepal. Each Nepalese you meet
                  (especially the service providers), during your stay in Nepal will greet you with a smile on their
                  face. Be ready to experience homely environment, while you are away from home.</p>
                <a [routerLink]="['detail']" class="btn btn-orange">View More</a>
              </div><!-- end blog-post-detail -->
            </div><!-- end blog-post -->

            <div class="main-block blog-post blog-list">
              <div class="main-img blog-post-img">
                <a [routerLink]="['detail']">
                  <img src="../assets/images/3.jpg" class="img-responsive" alt="blog-post-image" />
                </a>
                <div class="main-mask">
                  <ul class="list-inline list-unstyled blog-post-info">
                    <li><span><i class="fa fa-calendar"></i></span>February 12, 2019</li>
                    <li><span><i class="fa fa-user"></i></span>By: <a href="#">Amigo Treks & Expedition</a></li>
                  </ul>
                </div>
              </div><!-- end blog-post-img -->

              <div class="blog-post-detail">
                <h2 class="blog-post-title"><a [routerLink]="['detail']">Year Round Tours in Nepal</a>
                </h2>
                <p>Many people around the world know Nepal as trekker’s destination. Due to this, most people around the
                  world choose to visit Nepal during the peak trekking seasons. But, a very few people know that Nepal
                  is a year round destination. Although, a successful trekking holiday may not possible throughout the
                  year, especially during the off season, travelling to Nepal during off-season will definitely not
                  disappoint you, if you plan for the following off season packages.</p>
                <a [routerLink]="['detail']" class="btn btn-orange">View More</a>
              </div><!-- end blog-post-detail -->
            </div><!-- end blog-post -->

            <div class="main-block blog-post blog-list">
              <div class="main-img blog-post-img">
                <a [routerLink]="['detail']">
                  <img src="../assets/images/1.jpg" class="img-responsive" alt="blog-post-image" />
                </a>
                <div class="main-mask">
                  <ul class="list-inline list-unstyled blog-post-info">
                    <li><span><i class="fa fa-calendar"></i></span>January 6, 20179</li>
                    <li><span><i class="fa fa-user"></i></span>By: <a href="#">Amigo Treks & Expedition</a></li>
                  </ul>
                </div>
              </div><!-- end blog-post-img -->

              <div class="blog-post-detail">
                <h2 class="blog-post-title"><a [routerLink]="['detail']">The Best Off- Season Treks in Nepal</a>
                </h2>
                <p>Lorem ipsum dolor sit amet, ad duo fugit aeque fabulas, in lucilius prodesset pri. Veniam delectus ei
                  vis. Est atqui timeam mnesarchum at, pro an eros perpetua ullamcorper. Lorem ipsum dolor sit amet, ad
                  duo fugit aeque fabulas, in lucilius prodesset pri. Veniam delectus ei vis. Est atqui timeam
                  mnesarchum at, pro an eros perpetua ullamcorper.</p>
                <a [routerLink]="['detail']" class="btn btn-orange">View More</a>
              </div><!-- end blog-post-detail -->
            </div><!-- end blog-post -->

            <div class="pages">
              <ol class="pagination">
                <li><a href="#" aria-label="Previous"><span aria-hidden="true"><i
                        class="fa fa-angle-left"></i></span></a></li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#" aria-label="Next"><span aria-hidden="true"><i class="fa fa-angle-right"></i></span></a>
                </li>
              </ol>
            </div><!-- end pages -->

          </div><!-- end space-right -->
        </div><!-- end columns -->

      </div><!-- end row -->
    </div><!-- end container -->
  </div><!-- end blog-listings -->
</section><!-- end innerpage-wrapper -->


<!--======================= BEST FEATURES =====================-->
<section id="best-features" class="banner-padding black-features">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-3">
        <div class="b-feature-block">
          <span><i class="fa fa-dollar"></i></span>
          <h3>Best Price Guarantee</h3>
          <p>Lorem ipsum dolor sit amet, ad duo fugit aeque fabulas, in lucilius prodesset pri. Veniam delectus ei vis.
          </p>
        </div><!-- end b-feature-block -->
      </div><!-- end columns -->

      <div class="col-sm-6 col-md-3">
        <div class="b-feature-block">
          <span><i class="fa fa-lock"></i></span>
          <h3>Safe and Secure</h3>
          <p>Lorem ipsum dolor sit amet, ad duo fugit aeque fabulas, in lucilius prodesset pri. Veniam delectus ei vis.
          </p>
        </div><!-- end b-feature-block -->
      </div><!-- end columns -->

      <div class="col-sm-6 col-md-3">
        <div class="b-feature-block">
          <span><i class="fa fa-thumbs-up"></i></span>
          <h3>Best Travel Agents</h3>
          <p>Lorem ipsum dolor sit amet, ad duo fugit aeque fabulas, in lucilius prodesset pri. Veniam delectus ei vis.
          </p>
        </div><!-- end b-feature-block -->
      </div><!-- end columns -->

      <div class="col-sm-6 col-md-3">
        <div class="b-feature-block">
          <span><i class="fa fa-bars"></i></span>
          <h3>Travel Guidelines</h3>
          <p>Lorem ipsum dolor sit amet, ad duo fugit aeque fabulas, in lucilius prodesset pri. Veniam delectus ei vis.
          </p>
        </div><!-- end b-feature-block -->
      </div><!-- end columns -->
    </div><!-- end row -->
  </div><!-- end container -->
</section><!-- end best-features -->