<!--================== PAGE-COVER ==================-->
<section class="page-cover" id="cover-forgot-password">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="page-title">Forgot Password</h1>
        <ul class="breadcrumb">
          <li><a [routerLink]="['/home']">Home</a></li>
          <li class="active">Forgot Password</li>
        </ul>
      </div><!-- end columns -->
    </div><!-- end row -->
  </div><!-- end container -->
</section><!-- end page-cover -->


<!--===== INNERPAGE-WRAPPER ====-->
<section class="innerpage-wrapper">
  <div id="forgot-password" class="innerpage-section-padding">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">

          <div class="flex-content">
            <div class="custom-form custom-form-fields">
              <h3>Forgot Password</h3>
              <p>When you fill in your registered email address, you will be sent instructions on how to reset your
                password.</p>
              <form>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Your Email" required />
                  <span><i class="fa fa-envelope"></i></span>
                </div>

                <button class="btn btn-orange btn-block">Send</button>
              </form>

              <div class="other-links">
                <p class="link-line">Already Have An Account ? <a [routerLink]="['/login']">Login Here</a></p>
                <p class="link-line">New Here ? <a [routerLink]="['/signup']">Join Us</a></p>
              </div><!-- end other-links -->
            </div><!-- end custom-form -->

            <div class="flex-content-img custom-form-img">
              <img src="../assets/images/forgot-password.jpg" class="img-responsive" alt="registration-img" />
            </div><!-- end custom-form-img -->
          </div><!-- end form-content -->

        </div><!-- end columns -->
      </div><!-- end row -->
    </div><!-- end container -->
  </div><!-- end forgot-password -->
</section><!-- end innerpage-wrapper -->


<!--======================= BEST FEATURES =====================-->
<section id="best-features" class="banner-padding black-features">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-3">
        <div class="b-feature-block">
          <span><i class="fa fa-dollar"></i></span>
          <h3>Best Price Guarantee</h3>
          <p>Lorem ipsum dolor sit amet, ad duo fugit aeque fabulas, in lucilius prodesset pri. Veniam delectus ei vis.
          </p>
        </div><!-- end b-feature-block -->
      </div><!-- end columns -->

      <div class="col-sm-6 col-md-3">
        <div class="b-feature-block">
          <span><i class="fa fa-lock"></i></span>
          <h3>Safe and Secure</h3>
          <p>Lorem ipsum dolor sit amet, ad duo fugit aeque fabulas, in lucilius prodesset pri. Veniam delectus ei vis.
          </p>
        </div><!-- end b-feature-block -->
      </div><!-- end columns -->

      <div class="col-sm-6 col-md-3">
        <div class="b-feature-block">
          <span><i class="fa fa-thumbs-up"></i></span>
          <h3>Best Travel Agents</h3>
          <p>Lorem ipsum dolor sit amet, ad duo fugit aeque fabulas, in lucilius prodesset pri. Veniam delectus ei vis.
          </p>
        </div><!-- end b-feature-block -->
      </div><!-- end columns -->

      <div class="col-sm-6 col-md-3">
        <div class="b-feature-block">
          <span><i class="fa fa-bars"></i></span>
          <h3>Travel Guidelines</h3>
          <p>Lorem ipsum dolor sit amet, ad duo fugit aeque fabulas, in lucilius prodesset pri. Veniam delectus ei vis.
          </p>
        </div><!-- end b-feature-block -->
      </div><!-- end columns -->
    </div><!-- end row -->
  </div><!-- end container -->
</section><!-- end best-features -->