<!--============= PAGE-COVER =============-->
<section class="page-cover" id="cover-about-us">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="page-title">About Us</h1>
        <ul class="breadcrumb">
          <li><a [routerLink]="['/home']">Home</a></li>
          <li class="active">About Us</li>
        </ul>
      </div><!-- end columns -->
    </div><!-- end row -->
  </div><!-- end container -->
</section><!-- end page-cover -->


<!--===== INNERPAGE-WRAPPER ====-->
<section class="innerpage-wrapper">
  <div id="about-us">

    <div id="about-content" class="section-padding">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="flex-content">

              <div class="flex-content-img about-img">
                <img src="../assets/images/nepal-village.jpg" class="img-responsive" alt="about-img" />
              </div><!-- end about-img -->

              <div class="about-text">
                <div class="about-detail">
                  <h2>About Destination Nepal</h2>
                  <p>
                    Destination Nepal is a national tourism Company of Nepal established in 2018 as private sector in
                    tourism industry to develop and market Nepal as an attractive tourist destination. We have an epic
                    legacy of conducting the best treks and technical expeditions in the country. Now linked with the
                    Tiger Tops Group, Destination Nepal will create a tailor made trek to some of the most remote and
                    highest points in the world. Tiger Tops gives you the opportunity to traverse in the shadows of the
                    majestic Himalayas and beyond.
                  </p>
                </div><!-- end about-detail -->
              </div><!-- end about-text -->

            </div><!-- end flex-content -->
          </div><!-- end columns -->
        </div><!-- end row -->
      </div><!-- end container -->
    </div><!-- end about-content -->

    <div id="video-banner" class="banner-padding back-size">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <h2>Take a Video Tour</h2>
            <p>A trekkers' paradise, Nepal combines Himalayan views, golden temples, charming hill villages and jungle
              wildlife watching to offer one of the world's great travel destinations.</p>

            <iframe width="800" height="500" src="https://www.youtube.com/embed/ut-U-4m42aQ" frameborder="0"
              allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div><!-- end columns -->
        </div><!-- end row -->
      </div><!-- end container -->
    </div><!-- end video-banner -->

    <div id="team" class="section-padding">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="page-heading">
              <h2>Meet Our Team</h2>
              <hr class="heading-line" />
            </div><!-- end page-heading -->

            <div class="owl-carousel owl-theme" id="owl-team">

              <div class="item">
                <div class="member-block">
                  <div class="member-img">
                    <img src="../assets/images/aashir-profile.jpg" class="img-responsive img-circle" alt="member-img" />
                    <ul class="list-unstyled list-inline contact-links">
                      <li><a href="https://www.facebook.com/aashirwad.kc"><span><i class="fa fa-facebook-square"></i></span></a></li>
                      <li><a href="#"><span><i class="fa fa-twitter-square"></i></span></a></li>
                      <li><a href="https://www.instagram.com/ashirbad_kc/"><span><i class="fa fa-instagram" aria-hidden="true"></i></span></a></li>
                    </ul>
                  </div><!-- end member-img -->

                  <div class="member-name">
                    <h3>Ashirbad KC</h3>
                    <p>Director</p>
                  </div><!-- end member-name -->
                </div><!-- end member-block -->
              </div><!-- end item -->

              <div class="item">
                <div class="member-block">
                  <div class="member-img">
                    <img src="../assets/images/biplap-profile.jpg" class="img-responsive img-circle" alt="member-img" />
                    <ul class="list-unstyled list-inline contact-links">
                      <li><a href="https://www.facebook.com/bhattaraib58"><span><i class="fa fa-facebook-square"></i></span></a></li>
                      <li><a href="https://twitter.com/bhattaraib58"><span><i class="fa fa-twitter-square"></i></span></a></li>
                      <li><a href="https://www.instagram.com/bhattaraib58/"><span><i class="fa fa-instagram" aria-hidden="true"></i></span></a></li>
                    </ul>
                  </div><!-- end member-img -->

                  <div class="member-name">
                    <h3>Biplap Bhattarai</h3>
                    <p>Director</p>
                  </div><!-- end member-name -->
                </div><!-- end member-block -->
              </div><!-- end item -->
            </div><!-- end owl-team -->
          </div><!-- end columns -->
        </div><!-- end row -->
      </div><!-- end container -->
    </div><!-- end team -->

  </div><!-- end about-us -->
</section><!-- end innerpage-wrapper -->


<!--======================= BEST FEATURES =====================-->
<section id="best-features" class="banner-padding black-features">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-3">
        <div class="b-feature-block">
          <span><i class="fa fa-dollar"></i></span>
          <h3>Best Price Guarantee</h3>
          <p>Lorem ipsum dolor sit amet, ad duo fugit aeque fabulas, in lucilius prodesset pri. Veniam delectus ei vis.
          </p>
        </div><!-- end b-feature-block -->
      </div><!-- end columns -->

      <div class="col-sm-6 col-md-3">
        <div class="b-feature-block">
          <span><i class="fa fa-lock"></i></span>
          <h3>Safe and Secure</h3>
          <p>Lorem ipsum dolor sit amet, ad duo fugit aeque fabulas, in lucilius prodesset pri. Veniam delectus ei vis.
          </p>
        </div><!-- end b-feature-block -->
      </div><!-- end columns -->

      <div class="col-sm-6 col-md-3">
        <div class="b-feature-block">
          <span><i class="fa fa-thumbs-up"></i></span>
          <h3>Best Travel Agents</h3>
          <p>Lorem ipsum dolor sit amet, ad duo fugit aeque fabulas, in lucilius prodesset pri. Veniam delectus ei vis.
          </p>
        </div><!-- end b-feature-block -->
      </div><!-- end columns -->

      <div class="col-sm-6 col-md-3">
        <div class="b-feature-block">
          <span><i class="fa fa-bars"></i></span>
          <h3>Travel Guidelines</h3>
          <p>Lorem ipsum dolor sit amet, ad duo fugit aeque fabulas, in lucilius prodesset pri. Veniam delectus ei vis.
          </p>
        </div><!-- end b-feature-block -->
      </div><!-- end columns -->
    </div><!-- end row -->
  </div><!-- end container -->
</section><!-- end best-features -->