<carousel>
    <slide *ngFor="let data of banner">
        <img src="https://api.easymedsonline.com/uploads/images/{{data.images.images.original}}" alt="first slide" style="display: block; width: 100%; max-height: 700px;" class="img-fluid">
        <div class="carousel-caption d-none d-md-block">
            <h3>{{data.title}}</h3> --
            <!-- <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p> -- -->
        </div>
    </slide>

</carousel>

<!--========================= FLEX SLIDER =====================-->
<!-- <section class="flexslider-container" id="flexslider-container-1">
  <div class="flexslider slider" id="slider-1">
    <ul class="slides">
      <li class="item-1" style="background:     linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(../assets/images/medicine.jpg) 50% 0%;
background-size:cover;
height:100%;
  position: relative;
  display:block;
  ">
        <!-- <div class=" meta">
          <div class="container">
            <h2>Discover</h2>
            <h1>Australia</h1>
            <a href="#" class="btn btn-default">View More</a>
          </div>
          <!-- end container --
        </div> -->
<!-- end meta -->
<!-- </li> -->
<!-- end item-1 -->

<!-- <li class="item-2" style="background:      linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(../assets/images/235482.jpg) 50% 0%;
background-size:cover;
height:100%;"> -->
<!-- <div class=" meta">
          <div class="container">
            <h2>Discover</h2>
            <h1>Australia</h1>
            <a href="#" class="btn btn-default">View More</a>
          </div>
          <end container --
        </div> -->
<!-- end meta -->
<!-- </li> -->
<!-- end item-2 -->
<!-- </ul>
  </div> -->
<!-- end slider -->

<!-- end search-tabs -->

<!-- end flexslider-container -->

<!--======================= BEST FEATURES =====================-->
<div *ngIf="message['status']">
    <div class="alert alert-danger" *ngIf="message.error">
      {{message.message}}
    </div>
    <div class="alert alert-success" *ngIf="!message.error">
      {{message.message}}
    </div>
  </div>
<section id="hotel-offers" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="page-heading featured-heading">
                    <h2>Featured Products</h2>
                    <hr class="heading-line" />
                </div>
                <!-- end page-heading -->
                <div class="row">
                    <div *ngFor="let data of featured" class="col-sm-4 col-xs-12 col-md-3">
                        <div class="main-block flight-block">
                            <a [routerLink]="['/view-details']" [state]="{state:{data:data}}">
                                <div>
                                    <img src="https://api.easymedsonline.com/uploads/images/{{data.images.images.original}}" class="img-responsive featured-img" alt="{{data.title}}" />
                                </div>

                                <div class="flight-info">
                                    <div class="flight-title">
                                        <span class="featured-title">{{data.title}}</span>
                                        <!-- <span class="flight-type pull-right">View</span> -->
                                    </div>
                                    <!-- end flight-title -->

                                    <ul class="list-unstyled list-inline offer-price-1 featured-cart">
                                      <li class="featured-price">Rs. {{data.rate}}<span class="pull-right"><i class="fa fa-cart"></i></span></li>
                                      <li class="rating featured-cart">
                                        <a href="javascript:void(0)" (click)="addToCart()">
                                          <!-- <i class="fa fa-cart-plus"></i> -->
                                           View More
                                        </a>
                                      </li>
                                    </ul>
                                </div>
                                <!-- end flight-info -->
                            </a>
                        </div>
                        <!-- end flight-block -->
                    </div>
                    <!-- end columns -->

                </div>
                <!-- end row -->

                <div class="view-all text-center">
                    <a [routerLink]="['/featured-product']" class="btn btn-orange">View All</a>
                </div>
                <!-- end view-all -->
            </div>
            <!-- end columns -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</section>
<!-- end hotel-offers -->

<section id="flight-offers" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="page-heading">
                    <h2>Categories</h2>
                    <hr class="heading-line" />
                    <p>Shop By Categories</p>
                </div>
                <!-- end page-heading -->

                <div class="row">

                    <div *ngFor="let data of categories['data']" class="col-sm-6 col-md-3 category-wrapper">
                        <div class="main-block flight-block">
                            <a [routerLink]="['/categories/',data.id]">
                                <div *ngIf='data.images.images'>
                                    <img src="https://api.easymedsonline.com/uploads/images/{{data.images.images.original}}" class="img-responsive category-image" alt="flight-img" />
                                </div>
                                <!-- end flight-img -->

                                <div class="flight-info category-info text-center">
                                    <div class="flight-title category-title">
                                        <span class="flight-destination">{{data.title}}</span>
                                        <span class="flight-type"></span>
                                    </div>
                                    <!-- end flight-title -->

                                    <!-- <ul class="list-unstyled list-inline offer-price-1">
                                          <li class="price">$568.00<span class="pkg">Avg/Person</span></li>
                                          <li class="rating">
                                              <span><i class="fa fa-star orange"></i></span>
                                              <span><i class="fa fa-star orange"></i></span>
                                              <span><i class="fa fa-star orange"></i></span>
                                              <span><i class="fa fa-star orange"></i></span>
                                              <span><i class="fa fa-star lightgrey"></i></span>
                                          </li>
                                      </ul> -->
                                </div>
                                <!-- end flight-info -->
                            </a>
                        </div>
                        <!-- end flight-block -->
                    </div>
                    <!-- end columns -->
                </div>
                <!-- end row -->

                <!-- <div class="view-all text-center">
          <a href="#" class="btn btn-orange">View All</a>
        </div>end view-all -->
            </div>
            <!-- end columns -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</section>

<cruiseoffers></cruiseoffers>

<!--==================== VIDEO BANNER ===================-->
<!-- <section id="video-banner" class="banner-padding back-size">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2>Take a Video Tour</h2>
                <p>
                    Video To Buy Medicine
                </p>
                <iframe src="https://www.youtube.com/embed/9aRpUUGmi_o?controls=0&amp;start=7" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
                <!-- <a href="https://youtube.com/watch?v=0O2aH4XLbto" class="popup-youtube" id="play-button"><span><i
              class="fa fa-play"></i></span></a> -->
            <!-- </div> -->
            <!-- end columns -->
        <!-- </div> -->
        <!-- end row -->
    <!-- </div> -->
    <!-- end container -->
<!-- </section> -->
<!-- end video-banner -->

<!--==================== HIGHLIGHTS ====================-->
<section id="best-features" class="banner-padding black-features">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-3">
                <div class="b-feature-block">
                    <span><i class="fa fa-dollar"></i></span>
                    <h3>Best Price Guarantee</h3>
                    <p>
                        We provide medicine at the best possible prices.
                    </p>
                </div>
                <!-- end b-feature-block -->
            </div>
            <!-- end columns -->

            <div class="col-sm-6 col-md-3">
                <div class="b-feature-block">
                    <span><i class="fa fa-lock"></i></span>
                    <h3>Safe and Secure</h3>
                    <p>
                        We care for your health. Our medicines are checked thoroughly and completely safe.
                    </p>
                </div>
                <!-- end b-feature-block -->
            </div>
            <!-- end columns -->

            <div class="col-sm-6 col-md-3">
                <div class="b-feature-block">
                    <span><i class="fa fa-thumbs-up"></i></span>
                    <h3>Timely Discount</h3>
                    <p>
                        Stay in touch with us as we provide timely discount on your choice of medication.
                    </p>
                </div>
                <!-- end b-feature-block -->
            </div>
            <!-- end columns -->

            <div class="col-sm-6 col-md-3">
                <div class="b-feature-block">
                    <span><i class="fa fa-bars"></i></span>
                    <h3>Save Time And Money</h3>
                    <p>
                        Upload your precription and get your medicine at your doorstep.
                    </p>
                </div>
                <!-- end b-feature-block -->
            </div>
            <!-- end columns -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</section>
<!-- end best-features -->

<!--==================== TESTIMONIALS ====================-->
<section id="testimonials" class="section-padding back-size">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="page-heading white-heading">
                    <h2>Testimonials</h2>
                    <hr class="heading-line" />
                </div>
                <!-- end page-heading -->

                <div class="carousel slide" data-ride="carousel" id="quote-carousel">
                    <div class="carousel-inner text-center">
                        <div class="item active">
                            <blockquote>
                                I have been ordering medicine from the easymedsonline.com . They are friendly, provide medicine with best price and timely delivery.
                            </blockquote>
                            <div class="rating">
                                <span><i class="fa fa-star orange"></i></span>
                                <span><i class="fa fa-star orange"></i></span>
                                <span><i class="fa fa-star orange"></i></span>
                                <span><i class="fa fa-star orange"></i></span>
                                <span><i class="fa fa-star lightgrey"></i></span>
                            </div>
                            <!-- end rating -->
                            <small>Sonahang Rai</small>
                        </div>
                        <!-- end item -->
                    </div>
                    <!-- end carousel-inner -->

                    <ol class="carousel-indicators">
                        <li data-target="#quote-carousel" data-slide-to="0" class="active">
                            <img src="../assets/images/26194294.jpg" class="img-responsive" alt="client-img" />
                        </li>
                        <li data-target="#quote-carousel" data-slide-to="1">
                            <img src="../assets/images/BSinFYbS.jpg" class="img-responsive" alt="client-img" />
                        </li>
                        <li data-target="#quote-carousel" data-slide-to="2">
                            <img src="../assets/images/BXMD_0Pb.jpg" class="img-responsive" alt="client-img" />
                        </li>
                    </ol>
                </div>
                <!-- end quote-carousel -->
            </div>
            <!-- end columns -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</section>
<!-- end testimonials -->

<!--================ LATEST BLOG ==============-->

<!-- end latest-blog -->