.featured-title{
	font-weight : 600;
	font-size : 15px;
}
.featured-price{
	font-weight : 500;
	font-size : 13px;
	color : #fff;	
}
.featured-cart>a{
	color : #fff;
	text-decoration : none;
	font-weight : 500;
	font-size : 13px;
}
.featured-img{
	width : 100%;
	height : 220px;
	object-fit : contain;
}
.hotel-offers{
	margin-top : 0px;
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
	.featured-title{
		font-weight : 600;
		font-size : 14px;
	}	
	.featured-price{
		font-size : 12px;
	}
	.featured-cart>a{
		font-size : 11px;
	}
	.featured-img{
		width : 100%;
		height : 220px;
		object-fit : contain;
	}
	.featured-heading{
		font-size : 12px;
	}
}

@media (max-width: 1024px) {
	.featured-title{
		font-weight : 600;
		font-size : 14px;
	}	
	.featured-price{
		font-size : 12px;
	}
	.featured-cart>a{
		font-size : 11px;
	}
	.featured-img{
		width : 100%;
		height : 220px;
		object-fit : contain;
	}
	.featured-heading{
		font-size : 12px;
	}
}


.category-image{
	height:200px; 
	width:100%;
	object-fit : cover;
	border : 2px solid #ececec;
	border-radius : 5px;
	border-bottom-radius : 0px;
}
.category-info{
	border : 2px solid #ececec;
	border-radius : 5px ;
}
.category-title{
	font-weight : 600;
	font-size : 15px;	
}