<div *ngIf="message['status']">
  <div class="alert alert-danger" *ngIf="message.error">
    {{message.message}}
  </div>
  <div class="alert alert-success" *ngIf="!message.error">
    {{message.message}}
  </div>
</div>
<div class="container">
  <fieldset>

    <form [formGroup]="userDetail">
      <legend>Enter Details/(Please Enter All Details Below)</legend>

      <div class="row">
        <div class="col">
          <label>Name</label>
          <textarea formControlName="name" class="form-control"></textarea>
        </div>
      </div>


      <div class="row">
        <div class="col">
          <label>Phone Number</label>
          <input type="number" formControlName="contact" class="form-control" />
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label>Address</label>
          <input type="text" formControlName="address" class="form-control" />
        </div>
      </div>


      <div class="row">
        <div class="col">
          <button class=" btn btn-primary" [disabled]=!userDetail.valid (click)="savePres(this.userDetail.value)">
            Save</button>
        </div>
      </div>

    </form>
  </fieldset>
</div>
