<div *ngIf="message['status']">
  <div class="alert alert-danger" *ngIf="message.error">
    {{message.message}}
  </div>
  <div class="alert alert-success" *ngIf="!message.error">
    {{message.message}}
  </div>
</div>

<!--================== PAGE-COVER =================-->
<section class="page-cover" id="cover-tour-grid-list">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="page-title">Featured Product</h1>
        <ul class="breadcrumb">
          <li><a [routerLink]="['/home']">Home</a></li>

          <li class="active">Featured Product</li>
        </ul>
      </div><!-- end columns -->
    </div><!-- end row -->
  </div><!-- end container -->
</section><!-- end page-cover -->


<!--===== INNERPAGE-WRAPPER ====-->
<section class="innerpage-wrapper">
  <div id="tour-grid" class="innerpage-section-padding">
    <div class="container">
      <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-3 side-bar left-side-bar">

          <div class="side-bar-block filter-block">
            <h3>Sort By Filter</h3>
            <p>Find your dream flights today</p>

            <div class="panels-group">
              <!-- <input class="form-control" type="text" placeholder="Search......." [(ngModel)]="term"> -->



            </div><!-- end panel-group -->


          </div><!-- end side-bar-block -->



        </div><!-- end columns -->

        <h2 class="page-title">Featured Products</h2>

        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 content-side">
          <div class="row">

            <div class="col-sm-6 col-md-6 col-lg-4 "
              *ngFor="let place of filteredDataAdapter | paginate: { itemsPerPage: 3, currentPage: p } ">
              <div class="grid-block main-block t-grid-block">
                <div class="main-img t-grid-img">
                  <a [routerLink]="['detail']">
                    <img src="https://api.easymedsonline.com/uploads/images/{{place.images.images.original}}"
                      class="img-responsive" alt="hotel-img" />
                  </a>
                  <div class="main-mask">
                    <ul class="list-unstyled list-inline offer-price-1">
                      <li class="price" style="font-size:14px">Rs {{place.rate | number}}<span class="divider">|&nbsp;
                          &nbsp;<button class="btn btn-primary  btn-xs" (click)="addToCart(place)">Add to
                            cart</button></span><span class="pkg"></span></li>
                    </ul>
                  </div>
                </div><!-- end t-grid-img -->

                <div class="block-info t-grid-info">
                  <div class="rating">
                    <span><i class="fa fa-star orange"></i></span>
                    <span><i class="fa fa-star orange"></i></span>
                    <span><i class="fa fa-star orange"></i></span>
                    <span><i class="fa fa-star orange"></i></span>
                    <span><i class="fa fa-star lightgrey"></i></span>
                  </div><!-- end rating -->

                  <h3 class="block-title"><a [routerLink]="['detail']" style="font-size:14px">{{place.title}}</a></h3>

                  <p> </p>
                  <div class="grid-btn">
                    <a [routerLink]="['/view-details/']" [state]="{state:{data:place}}"
                      class="btn btn-orange btn-block btn-lg">View More</a>
                  </div><!-- end grid-btn -->
                </div><!-- end t-grid-info -->
              </div><!-- end t-grid-block -->
            </div><!-- end columns -->
          </div><!-- end row -->

          <div class="pages">
            <ol class="pagination">

              <pagination-controls (pageChange)="p = $event"></pagination-controls>

            </ol>
          </div><!-- end pages -->
        </div>






      </div><!-- end row -->
    </div><!-- end container -->
  </div><!-- end tour-grid -->
</section>






<!--======================= BEST FEATURES =====================-->
<section id="best-features" class="banner-padding black-features">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-3">
        <div class="b-feature-block">
          <span><i class="fa fa-dollar"></i></span>
          <h3>Best Price Guarantee</h3>
          <p>Lorem ipsum dolor sit amet, ad duo fugit aeque fabulas, in lucilius prodesset pri. Veniam delectus ei vis.
          </p>
        </div><!-- end b-feature-block -->
      </div><!-- end columns -->

      <div class="col-sm-6 col-md-3">
        <div class="b-feature-block">
          <span><i class="fa fa-lock"></i></span>
          <h3>Safe and Secure</h3>
          <p>Lorem ipsum dolor sit amet, ad duo fugit aeque fabulas, in lucilius prodesset pri. Veniam delectus ei vis.
          </p>
        </div><!-- end b-feature-block -->
      </div><!-- end columns -->

      <div class="col-sm-6 col-md-3">
        <div class="b-feature-block">
          <span><i class="fa fa-thumbs-up"></i></span>
          <h3>Best Travel Agents</h3>
          <p>Lorem ipsum dolor sit amet, ad duo fugit aeque fabulas, in lucilius prodesset pri. Veniam delectus ei vis.
          </p>
        </div><!-- end b-feature-block -->
      </div><!-- end columns -->

      <div class="col-sm-6 col-md-3">
        <div class="b-feature-block">
          <span><i class="fa fa-bars"></i></span>
          <h3>Travel Guidelines</h3>
          <p>Lorem ipsum dolor sit amet, ad duo fugit aeque fabulas, in lucilius prodesset pri. Veniam delectus ei vis.
          </p>
        </div><!-- end b-feature-block -->
      </div><!-- end columns -->
    </div><!-- end row -->
  </div><!-- end container -->
</section><!-- end best-features -->
