<div *ngIf="message['status']">
  <div class="alert alert-danger" *ngIf="message.error">
    {{message.message}}
  </div>
  <div class="alert alert-success" *ngIf="!message.error">
    {{message.message}}
  </div>
</div>

<!--================== PAGE-COVER =================-->
<section class="page-cover" id="cover-tour-grid-list">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="page-title">Medicine</h1>
        <ul class="breadcrumb">
          <li><a [routerLink]="['/home']">Home</a></li>
          <li><a>Medicine</a></li>
          <li class="active">{{brandsProduct.name}}</li>
        </ul>
      </div><!-- end columns -->
    </div><!-- end row -->
  </div><!-- end container -->
</section><!-- end page-cover -->

<section class="innerpage-wrapper">
  <div id="tour-grid" class="innerpage-section-padding">
    <div class="container">
      <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-3 side-bar left-side-bar">

          <div class="panel panel-default">
            <div class="panel-heading">
              Brands
            </div>
            <div class="panel-body">
              <ul>
                <li *ngFor="let data of brands">
                  <span><a (click)="changeProduct(data.id)" style="cursor: pointer;">{{data.name}}</a></span>
                </li>
              </ul>
            </div>
          </div>

          <!-- | async|filterBy:term| paginate: { itemsPerPage: 3, currentPage: p } -->

        </div><!-- end columns -->

        <h2 class="page-title">{{brandsProduct.name}}</h2>





        <div *ngFor="let data of brandsProduct['medicines'] | paginate: { itemsPerPage: 3, currentPage: p }"
          class="col-sm-6 col-md-3">
          <div class="main-block flight-block">
            <a href="javascript:void(0)">
              <div *ngIf='data.images.images'>
                <img style="height:200px; width:100%"
                  src="https://api.easymedsonline.com/uploads/images/{{data.images.images.original}}"
                  class="img-responsive" alt="flight-img" />
              </div><!-- end flight-img -->
              <div class="main-mask">
                <ul class="list-unstyled list-inline offer-price-1">
                  <li class="price" style="font-size:14px">Rs {{data.rate | number}}<span class="divider">| &nbsp;
                      &nbsp;<button class="btn btn-primary  btn-xs" (click)="addToCart(data)">Add to
                        cart</button></span><span class="pkg"></span></li>
                </ul>
              </div>
              <div class="flight-info">
                <div class="flight-title">
                  <span class="flight-destination" style="font-size: 12px;">{{data.title}}</span>| &nbsp;&nbsp;<span
                    class="flight-type"><a [routerLink]="['/view-details']"
                      [state]="{state:{data:data}}">View</a></span>
                </div><!-- end flight-title -->



              </div><!-- end flight-info -->
            </a>
          </div><!-- end flight-block -->
        </div><!-- end columns -->
        <div class="pages">
          <ol class="pagination">

            <pagination-controls (pageChange)="p = $event"></pagination-controls>

          </ol>
        </div><!-- end pages -->













      </div><!-- end row -->
    </div><!-- end container -->
  </div><!-- end tour-grid -->
</section>



<!-- <div class="row">
  <div class="col-md-3">
    <div class="panel panel-default">
        <div class="panel-heading">
          Brands
        </div>
        <div class="panel-body">
          huaduhadhu
        </div>
      </div>
  </div>
</div> -->
