<div class="container">
  <div class="row">
    <div class="breadcrumb" style="border-radius: 0px;">
          <p style="font-size: 16px;margin-bottom: 0px;"><i class="fa fa-home"></i> Home / Upload Prescription</p>
    </div>
  </div>
</div>

<div *ngIf="message['status']">
  <div class="alert alert-danger" *ngIf="message.error">
    {{message.message}}
  </div>
  <div class="alert alert-success" *ngIf="!message.error">
    {{message.message}}
  </div>
</div>
<div class="container">
    <form [formGroup]="prescription" enctype="multipart/form-data">
      <div class="row">
        <div class="col-md-7">
          <div class="form-group">
              <label>Prescription Image</label>
              <input type="file" id="photo" class="form-control" (change)="readURL($event);" />
              <img id="blah" *ngIf="imageSrc" [src]="imageSrc || 'http://placehold.it/180'" width="20%" height="200px"
                alt="your image" />
          </div>
          <div class="form-group">
              <label>Don't have prescription ? Dont worry send us medicine name with required quantity</label>
              <input type="text" formControlName="medicineName" class="form-control" placeholder="Medicine name with quantity">
          </div>
          <div class="form-group">
              <label>Fullname*</label>
              <input type="text" formControlName="fullname" class="form-control" placeholder="your fullname" />
          </div>
          <div class="form-group">
              <label>Phone Number*</label>
              <input type="number" formControlName="phoneNo" class="form-control" placeholder="your mobile number"/>
          </div>
          <div class="form-group">
              <label>Address*</label>
              <input type="text" formControlName="address" class="form-control" placeholder="enter city name with address"/>
          </div>
          <div class="form-group">
              <label>Email*</label>
              <input type="email" formControlName="email" class="form-control" placeholder="your email"/>
          </div>
          <div class="form-group">
              <button class=" btn btn-primary" (click)="savePres(this.prescription.value)"><i class="fa fa-send"></i> Submit</button>
          </div>
        </div>

        <div class="col-md-5">
          <div class="panel panel-default"> 
            <h4 class="panel-heading"><i class="fa fa-pen"></i> Note </h4>
            <div class="panel-body">
              <ol>
                <li>Please upload the clear picture of prescription. </li>
                <li>If you dont have prescription then enter the medicine's name and quantity.</li>
                <li>While uploading prescription make sure the clinic/doctor's letterhead is included. </li>
                <li>Fill in the form with your information so that we can contact you. </li>
                <li>Once you have uploaded your prescription, we will call you to confirm the order.</li>
                <li>Or you can send us a picture or scan of your prescription by email info@easymedsonline.com or viber us at or message us at our facebook Page http://facebook.com/</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
  </form>
</div>
