<!--============= PAGE-COVER =============-->
<section class="page-cover" id="cover-login">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="page-title">Login Page</h1>
        <ul class="breadcrumb">
          <li><a [routerLink]="['/home']">Home</a></li>
          <li class="active">Login Page</li>
        </ul>
      </div><!-- end columns -->
    </div><!-- end row -->
  </div><!-- end container -->
</section><!-- end page-cover -->

<!--===== INNERPAGE-WRAPPER ====-->
<section class="innerpage-wrapper">
  <div id="login" class="innerpage-section-padding">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="flex-content">
            <div class="custom-form custom-form-fields">
              <h3>Login</h3>
              <div *ngIf="message.status">
                <div class="alert alert-danger" *ngIf="message.error">
                  {{message.message}}
                </div>
                <div class="alert alert-success" *ngIf="!message.error">
                  {{message.message}}
                </div>
              </div>
              <ngx-spinner bdOpacity=1 bdColor="rgba(51,51,51,0.56)" size="large" color="#fff" type="square-jelly-box"
                [fullScreen]="true">
                <p style="color: white"> Logging in.. </p>
              </ngx-spinner>
              <form #f="ngForm">
                <div class="form-group">
                  <input type="email" class="form-control" placeholder="Email" name="email" ngModel #email="ngModel"
                    minlength="3" maxlength="30" required />
                  <span><i class="fa fa-user"></i></span>
                </div>

                <div *ngIf="!email.valid && email.touched">
                  <div class="alert alert-danger">
                    <div *ngIf="email.errors.required">
                      Please Enter Your email
                    </div>
                    <div *ngIf="email.errors.minlength">
                      Email must be greater than 3 Characters
                    </div>
                    <div *ngIf="email.errors.maxlength">
                      Email must be less than 100 Characters
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <input type="password" class="form-control" placeholder="Password" name="password" ngModel
                    #password="ngModel" minlength="3" maxlength="100" required />
                  <span><i class="fa fa-lock"></i></span>
                </div>
                <button class="btn btn-orange btn-block" type="submit" [disabled]="!f.valid"
                  (click)="onLoggedin(f)">Login</button>
              </form>

              <div class="other-links">
                <p class="link-line">New Here ? <a [routerLink]="['/signup']">Signup</a></p>
                <a class="simple-link" [routerLink]="['/forgotpassword']">Forgot Password ?</a>
              </div><!-- end other-links -->
            </div><!-- end custom-form -->

            <div class="flex-content-img custom-form-img">
              <img src="../assets/images/login6.png" class="img-responsive" alt="registration-img" />
            </div><!-- end custom-form-img -->
          </div><!-- end form-content -->

        </div><!-- end columns -->
      </div><!-- end row -->
    </div><!-- end container -->
  </div><!-- end login -->
</section><!-- end innerpage-wrapper -->


<!--======================= BEST FEATURES =====================-->
<section id="best-features" class="banner-padding black-features">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-3">
        <div class="b-feature-block">
          <span><i class="fa fa-dollar"></i></span>
          <h3>Best Price Guarantee</h3>
          <p>Lorem ipsum dolor sit amet, ad duo fugit aeque fabulas, in lucilius prodesset pri. Veniam delectus ei vis.
          </p>
        </div><!-- end b-feature-block -->
      </div><!-- end columns -->

      <div class="col-sm-6 col-md-3">
        <div class="b-feature-block">
          <span><i class="fa fa-lock"></i></span>
          <h3>Safe and Secure</h3>
          <p>Lorem ipsum dolor sit amet, ad duo fugit aeque fabulas, in lucilius prodesset pri. Veniam delectus ei vis.
          </p>
        </div><!-- end b-feature-block -->
      </div><!-- end columns -->

      <div class="col-sm-6 col-md-3">
        <div class="b-feature-block">
          <span><i class="fa fa-thumbs-up"></i></span>
          <h3>Best Travel Agents</h3>
          <p>Lorem ipsum dolor sit amet, ad duo fugit aeque fabulas, in lucilius prodesset pri. Veniam delectus ei vis.
          </p>
        </div><!-- end b-feature-block -->
      </div><!-- end columns -->

      <div class="col-sm-6 col-md-3">
        <div class="b-feature-block">
          <span><i class="fa fa-bars"></i></span>
          <h3>Travel Guidelines</h3>
          <p>Lorem ipsum dolor sit amet, ad duo fugit aeque fabulas, in lucilius prodesset pri. Veniam delectus ei vis.
          </p>
        </div><!-- end b-feature-block -->
      </div><!-- end columns -->
    </div><!-- end row -->
  </div><!-- end container -->
</section><!-- end best-features -->