<div *ngIf="message['status']">
  <div class="alert alert-danger" *ngIf="message.error">
    {{message.message}}
  </div>
  <div class="alert alert-success" *ngIf="!message.error">
    {{message.message}}
  </div>
</div>
<!--================== PAGE-COVER =================-->
<section class="page-cover" id="cover-tour-grid-list">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="page-title">{{title.data.title}}</h1>
        <ul class="breadcrumb">
          <li><a [routerLink]="['/home']">Home</a></li>
          <li><a>Category</a></li>
          <li class="active">{{title.data.title}}</li>
        </ul>
      </div><!-- end columns -->
    </div><!-- end row -->
  </div><!-- end container -->
</section><!-- end page-cover -->


<!--===== INNERPAGE-WRAPPER ====-->
<section class="innerpage-wrapper">
  <div id="tour-grid" class="innerpage-section-padding">
    <div class="container">
      <div class="row">

        <!-- <div class="col-xs-12 col-sm-12 col-md-3 side-bar left-side-bar">





        </div>end columns -->



        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 content-side">
          <div class="row">
            <h2 class="page-title">{{title.data.title}}</h2>
            <div class="col-sm-6 col-md-6 col-lg-4 "
              *ngFor="let place of filteredDataAdapter | paginate: { itemsPerPage: 10, currentPage: p } ">
              <div class="grid-block main-block t-grid-block">
                <div class="main-img t-grid-img">
                  <a [routerLink]="['/view-details']" [state]="{state:{data:place}}">
                    <img src="https://api.easymedsonline.com/uploads/images/{{place.images.images.original}}"
                      class="img-responsive" alt="hotel-img" />
                  </a>
                  <div class="main-mask">
                    <ul class="list-unstyled list-inline offer-price-1">
                      <li class="price" style="font-size:14px">Rs {{place.rate | number}}<span class="divider">| &nbsp;
                          &nbsp;<button class="btn btn-primary  btn-xs" (click)="addToCart(place)">Add to
                            cart</button></span><span class="pkg"></span></li>
                    </ul>
                  </div>
                </div><!-- end t-grid-img -->

                <div class="block-info t-grid-info">
                  <div class="rating">
                    <span><i class="fa fa-star orange"></i></span>
                    <span><i class="fa fa-star orange"></i></span>
                    <span><i class="fa fa-star orange"></i></span>
                    <span><i class="fa fa-star orange"></i></span>
                    <span><i class="fa fa-star lightgrey"></i></span>
                  </div><!-- end rating -->

                  <h3 class="block-title"><a [routerLink]="['/view-details']" [state]="{state:{data:place}}"
                      style="font-size:14px">{{place.title}}</a></h3>

                  <p> </p>
                  <div class="grid-btn">
                    <a [routerLink]="['/view-details']" [state]="{state:{data:place}}"
                      class="btn btn-orange btn-block btn-lg">View More</a>
                  </div><!-- end grid-btn -->
                </div><!-- end t-grid-info -->
              </div><!-- end t-grid-block -->
            </div><!-- end columns -->
          </div><!-- end row -->

          <div class="pages">
            <ol class="pagination">

              <pagination-controls (pageChange)="p = $event"></pagination-controls>

            </ol>
          </div><!-- end pages -->
        </div>






      </div><!-- end row -->
    </div><!-- end container -->
  </div><!-- end tour-grid -->
</section>



<!-- crousel for local visiting place -->
