<!--================== PAGE-COVER =================-->
<section class="page-cover" id="cover-tour-grid-list">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="page-title">Tour</h1>
        <ul class="breadcrumb">
          <li><a [routerLink]="['/home']">Home</a></li>
          <li class="active">Tour</li>
        </ul>
      </div><!-- end columns -->
    </div><!-- end row -->
  </div><!-- end container -->
</section><!-- end page-cover -->


<!--===== INNERPAGE-WRAPPER ====-->
<section class="innerpage-wrapper">
  <div id="tour-grid" class="innerpage-section-padding">
    <div class="container">
      <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-3 side-bar left-side-bar">

          <div class="side-bar-block filter-block">
            <h3>Sort By Filter</h3>
            <p>Find your dream flights today</p>

            <div class="panels-group">

              <div class="panel panel-default">
                <div class="panel-heading">
                  <a href="#panel-1" data-toggle="collapse">Select Country <span><i
                        class="fa fa-angle-down"></i></span></a>
                </div><!-- end panel-heading -->

                <div id="panel-1" class="panel-collapse collapse">
                  <div class="panel-body text-left">
                    <ul class="list-unstyled">
                      <li class="custom-check"><input type="checkbox" id="check01" name="checkbox" />
                        <label for="check01"><span><i class="fa fa-check"></i></span>All</label></li>
                      <li class="custom-check"><input type="checkbox" id="check02" name="checkbox" />
                        <label for="check02"><span><i class="fa fa-check"></i></span>Australia</label></li>
                      <li class="custom-check"><input type="checkbox" id="check03" name="checkbox" />
                        <label for="check03"><span><i class="fa fa-check"></i></span>Bangkok</label></li>
                      <li class="custom-check"><input type="checkbox" id="check04" name="checkbox" />
                        <label for="check04"><span><i class="fa fa-check"></i></span>China</label></li>
                      <li class="custom-check"><input type="checkbox" id="check05" name="checkbox" />
                        <label for="check05"><span><i class="fa fa-check"></i></span>India</label></li>
                      <li class="custom-check"><input type="checkbox" id="check06" name="checkbox" />
                        <label for="check06"><span><i class="fa fa-check"></i></span>Italy</label></li>
                      <li class="custom-check"><input type="checkbox" id="check07" name="checkbox" />
                        <label for="check07"><span><i class="fa fa-check"></i></span>London</label></li>
                      <li class="custom-check"><input type="checkbox" id="check08" name="checkbox" />
                        <label for="check08"><span><i class="fa fa-check"></i></span>Newzeland</label></li>
                      <li class="custom-check"><input type="checkbox" id="check09" name="checkbox" />
                        <label for="check09"><span><i class="fa fa-check"></i></span>Shanghai</label></li>
                      <li class="custom-check"><input type="checkbox" id="check10" name="checkbox" />
                        <label for="check10"><span><i class="fa fa-check"></i></span>Sydney</label></li>
                    </ul>
                  </div><!-- end panel-body -->
                </div><!-- end panel-collapse -->
              </div><!-- end panel-default -->

              <div class="panel panel-default">
                <div class="panel-heading">
                  <a href="#panel-2" data-toggle="collapse">Days <span><i class="fa fa-angle-down"></i></span></a>
                </div><!-- end panel-heading -->

                <div id="panel-2" class="panel-collapse collapse">
                  <div class="panel-body text-left">
                    <ul class="list-unstyled">
                      <li class="custom-check"><input type="checkbox" id="check11" name="checkbox" />
                        <label for="check11"><span><i class="fa fa-check"></i></span>All</label></li>
                      <li class="custom-check"><input type="checkbox" id="check12" name="checkbox" />
                        <label for="check12"><span><i class="fa fa-check"></i></span>2 Days</label></li>
                      <li class="custom-check"><input type="checkbox" id="check13" name="checkbox" />
                        <label for="check13"><span><i class="fa fa-check"></i></span>3 Days</label></li>
                      <li class="custom-check"><input type="checkbox" id="check14" name="checkbox" />
                        <label for="check14"><span><i class="fa fa-check"></i></span>5 Days</label></li>
                      <li class="custom-check"><input type="checkbox" id="check15" name="checkbox" />
                        <label for="check15"><span><i class="fa fa-check"></i></span>7 Days</label></li>
                      <li class="custom-check"><input type="checkbox" id="check16" name="checkbox" />
                        <label for="check16"><span><i class="fa fa-check"></i></span>10 Days</label></li>
                    </ul>
                  </div><!-- end panel-body -->
                </div><!-- end panel-collapse -->
              </div><!-- end panel-default -->

              <div class="panel panel-default">
                <div class="panel-heading">
                  <a href="#panel-3" data-toggle="collapse">Rating <span><i class="fa fa-angle-down"></i></span></a>
                </div><!-- end panel-heading -->

                <div id="panel-3" class="panel-collapse collapse">
                  <div class="panel-body text-left">
                    <ul class="list-unstyled">
                      <li class="custom-check"><input type="checkbox" id="check17" name="checkbox" />
                        <label for="check17"><span><i class="fa fa-check"></i></span>1 Star</label></li>
                      <li class="custom-check"><input type="checkbox" id="check18" name="checkbox" />
                        <label for="check18"><span><i class="fa fa-check"></i></span>2 Star</label></li>
                      <li class="custom-check"><input type="checkbox" id="check19" name="checkbox" />
                        <label for="check19"><span><i class="fa fa-check"></i></span>3 Star</label></li>
                      <li class="custom-check"><input type="checkbox" id="check20" name="checkbox" />
                        <label for="check20"><span><i class="fa fa-check"></i></span>4 Star</label></li>
                      <li class="custom-check"><input type="checkbox" id="check21" name="checkbox" />
                        <label for="check21"><span><i class="fa fa-check"></i></span>5 Star</label></li>
                    </ul>
                  </div><!-- end panel-body -->
                </div><!-- end panel-collapse -->
              </div><!-- end panel-default -->

            </div><!-- end panel-group -->

            <div class="price-slider">
              <p><input type="text" id="amount" readonly></p>
              <div id="slider-range"></div>
            </div><!-- end price-slider -->
          </div><!-- end side-bar-block -->

          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-12">
              <div class="side-bar-block main-block ad-block">
                <div class="main-img ad-img">
                  <a href="#">
                    <img src="../assets/images/car-ad.jpg" class="img-responsive" alt="car-ad" />
                    <div class="ad-mask">
                      <div class="ad-text">
                        <span>Luxury</span>
                        <h2>Car</h2>
                        <span>Offer</span>
                      </div><!-- end ad-text -->
                    </div><!-- end columns -->
                  </a>
                </div><!-- end ad-img -->
              </div><!-- end side-bar-block -->
            </div><!-- end columns -->
          </div><!-- end row -->
        </div><!-- end columns -->

        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 content-side">
          <div class="row">

            <div class="col-sm-6 col-md-6 col-lg-4">
              <div class="grid-block main-block t-grid-block">
                <div class="main-img t-grid-img">
                  <a [routerLink]="['detail']">
                    <img src="../assets/images/tour-grid-1.jpg" class="img-responsive" alt="hotel-img" />
                  </a>
                  <div class="main-mask">
                    <ul class="list-unstyled list-inline offer-price-1">
                      <li class="price">$568.00<span class="divider">|</span><span class="pkg">7 Days Tour</span></li>
                    </ul>
                  </div><!-- end main-mask -->
                </div><!-- end t-grid-img -->

                <div class="block-info t-grid-info">
                  <div class="rating">
                    <span><i class="fa fa-star orange"></i></span>
                    <span><i class="fa fa-star orange"></i></span>
                    <span><i class="fa fa-star orange"></i></span>
                    <span><i class="fa fa-star orange"></i></span>
                    <span><i class="fa fa-star lightgrey"></i></span>
                  </div><!-- end rating -->

                  <h3 class="block-title"><a [routerLink]="['detail']">Orlando</a></h3>
                  <p class="block-minor">2 Adults, 02 Kids</p>
                  <p>Lorem ipsum dolor sit amet, ad duo fugit aeque fabulas, in lucilius prodesset pri. Veniam delectus
                    ei </p>
                  <div class="grid-btn">
                    <a [routerLink]="['detail']" class="btn btn-orange btn-block btn-lg">View More</a>
                  </div><!-- end grid-btn -->
                </div><!-- end t-grid-info -->
              </div><!-- end t-grid-block -->
            </div><!-- end columns -->

            <div class="col-sm-6 col-md-6 col-lg-4">
              <div class="grid-block main-block t-grid-block">
                <div class="main-img t-grid-img">
                  <a [routerLink]="['detail']">
                    <img src="../assets/images/tour-grid-2.jpg" class="img-responsive" alt="hotel-img" />
                  </a>
                  <div class="main-mask">
                    <ul class="list-unstyled list-inline offer-price-1">
                      <li class="price">$568.00<span class="divider">|</span><span class="pkg">7 Days Tour</span></li>
                    </ul>
                  </div><!-- end main-mask -->
                </div><!-- end t-grid-img -->

                <div class="block-info t-grid-info">
                  <div class="rating">
                    <span><i class="fa fa-star orange"></i></span>
                    <span><i class="fa fa-star orange"></i></span>
                    <span><i class="fa fa-star orange"></i></span>
                    <span><i class="fa fa-star orange"></i></span>
                    <span><i class="fa fa-star lightgrey"></i></span>
                  </div><!-- end rating -->

                  <h3 class="block-title"><a [routerLink]="['detail']">London</a></h3>
                  <p class="block-minor">2 Adults, 02 Kids</p>
                  <p>Lorem ipsum dolor sit amet, ad duo fugit aeque fabulas, in lucilius prodesset pri. Veniam delectus
                    ei </p>
                  <div class="grid-btn">
                    <a [routerLink]="['detail']" class="btn btn-orange btn-block btn-lg">View More</a>
                  </div><!-- end grid-btn -->
                </div><!-- end t-grid-info -->
              </div><!-- end t-grid-block -->
            </div><!-- end columns -->

            <div class="col-sm-6 col-md-6 col-lg-4">
              <div class="grid-block main-block t-grid-block">
                <div class="main-img t-grid-img">
                  <a [routerLink]="['detail']">
                    <img src="../assets/images/tour-grid-3.jpg" class="img-responsive" alt="hotel-img" />
                  </a>
                  <div class="main-mask">
                    <ul class="list-unstyled list-inline offer-price-1">
                      <li class="price">$568.00<span class="divider">|</span><span class="pkg">7 Days Tour</span></li>
                    </ul>
                  </div><!-- end main-mask -->
                </div><!-- end t-grid-img -->

                <div class="block-info t-grid-info">
                  <div class="rating">
                    <span><i class="fa fa-star orange"></i></span>
                    <span><i class="fa fa-star orange"></i></span>
                    <span><i class="fa fa-star orange"></i></span>
                    <span><i class="fa fa-star orange"></i></span>
                    <span><i class="fa fa-star lightgrey"></i></span>
                  </div><!-- end rating -->

                  <h3 class="block-title"><a [routerLink]="['detail']">Australia</a></h3>
                  <p class="block-minor">2 Adults, 02 Kids</p>
                  <p>Lorem ipsum dolor sit amet, ad duo fugit aeque fabulas, in lucilius prodesset pri. Veniam delectus
                    ei </p>
                  <div class="grid-btn">
                    <a [routerLink]="['detail']" class="btn btn-orange btn-block btn-lg">View More</a>
                  </div><!-- end grid-btn -->
                </div><!-- end t-grid-info -->
              </div><!-- end t-grid-block -->
            </div><!-- end columns -->

            <div class="col-sm-6 col-md-6 col-lg-4">
              <div class="grid-block main-block t-grid-block">
                <div class="main-img t-grid-img">
                  <a [routerLink]="['detail']">
                    <img src="../assets/images/tour-grid-4.jpg" class="img-responsive" alt="hotel-img" />
                  </a>
                  <div class="main-mask">
                    <ul class="list-unstyled list-inline offer-price-1">
                      <li class="price">$568.00<span class="divider">|</span><span class="pkg">7 Days Tour</span></li>
                    </ul>
                  </div><!-- end main-mask -->
                </div><!-- end t-grid-img -->

                <div class="block-info t-grid-info">
                  <div class="rating">
                    <span><i class="fa fa-star orange"></i></span>
                    <span><i class="fa fa-star orange"></i></span>
                    <span><i class="fa fa-star orange"></i></span>
                    <span><i class="fa fa-star orange"></i></span>
                    <span><i class="fa fa-star lightgrey"></i></span>
                  </div><!-- end rating -->

                  <h3 class="block-title"><a [routerLink]="['detail']">Bangkok</a></h3>
                  <p class="block-minor">2 Adults, 02 Kids</p>
                  <p>Lorem ipsum dolor sit amet, ad duo fugit aeque fabulas, in lucilius prodesset pri. Veniam delectus
                    ei </p>
                  <div class="grid-btn">
                    <a [routerLink]="['detail']" class="btn btn-orange btn-block btn-lg">View More</a>
                  </div><!-- end grid-btn -->
                </div><!-- end t-grid-info -->
              </div><!-- end t-grid-block -->
            </div><!-- end columns -->

            <div class="col-sm-6 col-md-6 col-lg-4">
              <div class="grid-block main-block t-grid-block">
                <div class="main-img t-grid-img">
                  <a [routerLink]="['detail']">
                    <img src="../assets/images/tour-grid-5.jpg" class="img-responsive" alt="hotel-img" />
                  </a>
                  <div class="main-mask">
                    <ul class="list-unstyled list-inline offer-price-1">
                      <li class="price">$568.00<span class="divider">|</span><span class="pkg">7 Days Tour</span></li>
                    </ul>
                  </div><!-- end main-mask -->
                </div><!-- end t-grid-img -->

                <div class="block-info t-grid-info">
                  <div class="rating">
                    <span><i class="fa fa-star orange"></i></span>
                    <span><i class="fa fa-star orange"></i></span>
                    <span><i class="fa fa-star orange"></i></span>
                    <span><i class="fa fa-star orange"></i></span>
                    <span><i class="fa fa-star lightgrey"></i></span>
                  </div><!-- end rating -->

                  <h3 class="block-title"><a [routerLink]="['detail']">Newzeland</a></h3>
                  <p class="block-minor">2 Adults, 02 Kids</p>
                  <p>Lorem ipsum dolor sit amet, ad duo fugit aeque fabulas, in lucilius prodesset pri. Veniam delectus
                    ei </p>
                  <div class="grid-btn">
                    <a [routerLink]="['detail']" class="btn btn-orange btn-block btn-lg">View More</a>
                  </div><!-- end grid-btn -->
                </div><!-- end t-grid-info -->
              </div><!-- end t-grid-block -->
            </div><!-- end columns -->

            <div class="col-sm-6 col-md-6 col-lg-4">
              <div class="grid-block main-block t-grid-block">
                <div class="main-img t-grid-img">
                  <a [routerLink]="['detail']">
                    <img src="../assets/images/tour-grid-6.jpg" class="img-responsive" alt="hotel-img" />
                  </a>
                  <div class="main-mask">
                    <ul class="list-unstyled list-inline offer-price-1">
                      <li class="price">$568.00<span class="divider">|</span><span class="pkg">7 Days Tour</span></li>
                    </ul>
                  </div><!-- end main-mask -->
                </div><!-- end t-grid-img -->

                <div class="block-info t-grid-info">
                  <div class="rating">
                    <span><i class="fa fa-star orange"></i></span>
                    <span><i class="fa fa-star orange"></i></span>
                    <span><i class="fa fa-star orange"></i></span>
                    <span><i class="fa fa-star orange"></i></span>
                    <span><i class="fa fa-star lightgrey"></i></span>
                  </div><!-- end rating -->

                  <h3 class="block-title"><a [routerLink]="['detail']">Shanghai</a></h3>
                  <p class="block-minor">2 Adults, 02 Kids</p>
                  <p>Lorem ipsum dolor sit amet, ad duo fugit aeque fabulas, in lucilius prodesset pri. Veniam delectus
                    ei </p>
                  <div class="grid-btn">
                    <a [routerLink]="['detail']" class="btn btn-orange btn-block btn-lg">View More</a>
                  </div><!-- end grid-btn -->
                </div><!-- end t-grid-info -->
              </div><!-- end t-grid-block -->
            </div><!-- end columns -->

          </div><!-- end row -->

          <div class="pages">
            <ol class="pagination">
              <li><a href="#" aria-label="Previous"><span aria-hidden="true"><i class="fa fa-angle-left"></i></span></a>
              </li>
              <li class="active"><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#" aria-label="Next"><span aria-hidden="true"><i class="fa fa-angle-right"></i></span></a>
              </li>
            </ol>
          </div><!-- end pages -->
        </div><!-- end columns -->

      </div><!-- end row -->
    </div><!-- end container -->
  </div><!-- end tour-grid -->
</section><!-- end innerpage-wrapper -->


<!--======================= BEST FEATURES =====================-->
<section id="best-features" class="banner-padding black-features">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-3">
        <div class="b-feature-block">
          <span><i class="fa fa-dollar"></i></span>
          <h3>Best Price Guarantee</h3>
          <p>Lorem ipsum dolor sit amet, ad duo fugit aeque fabulas, in lucilius prodesset pri. Veniam delectus ei vis.
          </p>
        </div><!-- end b-feature-block -->
      </div><!-- end columns -->

      <div class="col-sm-6 col-md-3">
        <div class="b-feature-block">
          <span><i class="fa fa-lock"></i></span>
          <h3>Safe and Secure</h3>
          <p>Lorem ipsum dolor sit amet, ad duo fugit aeque fabulas, in lucilius prodesset pri. Veniam delectus ei vis.
          </p>
        </div><!-- end b-feature-block -->
      </div><!-- end columns -->

      <div class="col-sm-6 col-md-3">
        <div class="b-feature-block">
          <span><i class="fa fa-thumbs-up"></i></span>
          <h3>Best Travel Agents</h3>
          <p>Lorem ipsum dolor sit amet, ad duo fugit aeque fabulas, in lucilius prodesset pri. Veniam delectus ei vis.
          </p>
        </div><!-- end b-feature-block -->
      </div><!-- end columns -->

      <div class="col-sm-6 col-md-3">
        <div class="b-feature-block">
          <span><i class="fa fa-bars"></i></span>
          <h3>Travel Guidelines</h3>
          <p>Lorem ipsum dolor sit amet, ad duo fugit aeque fabulas, in lucilius prodesset pri. Veniam delectus ei vis.
          </p>
        </div><!-- end b-feature-block -->
      </div><!-- end columns -->
    </div><!-- end row -->
  </div><!-- end container -->
</section><!-- end best-features -->
